{% csrf_token %}
{% for hidden in form.hidden_fields %}
	{{ hidden }}
{% endfor %}
{% for field in form.visible_fields %}
	{% if field.errors %}
	<div class="form-group has-feedback has-error">
	{% else %}
	<div class="form-group has-feedback">
	{% endif %}
		<label for="{{ field.name }}">{{ field.label }}</label>
		{{ field }}
	{% if field.errors %}
		<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
		<span id="inputError2Status" class="sr-only">(villa)</span>
	{% endif %}
		<p>{{ field.errors.as_text }}</p>
	</div>
{% endfor %}