<h3>Bekkir og hópar</h3>
<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th class="col-md-6"><h4>Nafn</h4></th>
			<th class="col-md-3"><h4>Árgangur</h4></th>
			<th class="col-md-3"><h4>Fjöldi í hóp</h4></th>
		</tr>
	</thead>
	<tbody>
		{% for group in studentgroup_list %}
		<tr>
			<td class="col-md-6"><a href="{% url 'schools:group_detail' school.id group.id %}">{{group.name}}</a></td>
			<td class="col-md-3">{{group.student_year}}</td>
			<td class="col-md-3">{{group.students.count}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>