<h3>Bekkir og hópar</h3>
<div>
	<div id="survey_list" class="table table-hover">
		<div class="row">
			<div class="col-md-6"><h4>Nafn</h4></div>
			<div class="col-md-3"><h4>Árgangur</h4></div>
			<div class="col-md-3"><h4>Fjöldi í hóp</h4></div>
		</div>
		{% for group in studentgroup_list %}
		<div class="row">
			<div class="col-md-6"><a href="{% url 'schools:group_detail' school.id group.id %}">{{group.name}}</a></div>
			<div class="col-md-3">{{group.student_year}}</div>
			<div class="col-md-3">{{group.students.count}}</div>
		</div>
		{% endfor %}
	</div>
</div>