<h3>
	Skólastjórnendur
	{% if is_school_manager %}
		<a href="{% url 'schools:manager_create' school.id %}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span></a>
	{% endif %}
</h3>
<table id="manager-list" class="table table-hover table-striped">
		<thead>
			<th class="col-md-12"><h4>Nafn</h4></th>
		</thead>
		<tbody>
		{% for manager in managers %}
		<tr>
			<td class="col-md-12"><a href="{% url 'schools:manager_detail' school.id manager.id %}">{{manager.name}}</a></td>
		</tr>
		{% endfor %}
		</tbody>
</table>