

<h3>Skilaboð</h3>
<div>
	<div id="survey_list" class="table table-hover">
		{% for message in messages %}
			<div>
				<div id="message-header" class="row">
					<div class="col-md-7"><a data-toggle="modal" data-target="#myModal-{{message.pk}}"><strong>{{ message.title }}</strong></a></div>
				</div>
			</div>

			<!-- Modal -->
			<div class="modal fade" id="myModal-{{message.pk}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="myModalLabel">{{ message.title }}</h4>
						</div>
						<div class="modal-body row">
							<div class="col-md-12 md">{{message.description}}</div>
						</div>
						{% if message.file %}
						<div style="border-top: 1px">
							<a href="{{ message.file }}">viðhengi</a>
						</div>
						{% endif %}
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>  
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>


