<h3>
	Kennarar
	{% if is_school_manager %}
	<div class="btn-group" role="group" style="padding: 0;">
		<a href="{% url 'schools:student_create' school.id %}" type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<span class="glyphicon glyphicon-plus"></span>
		</a>
		<ul class="dropdown-menu col-xs-12">
			<li>
				<a href="{% url 'schools:teacher_create' school.id %}">
					<span class="glyphicon glyphicon-plus"></span>&nbsp;Bæta við einum
				</a>
			</li>
			<li>
				<a href="{% url 'schools:teacher_create_import' school.id %}">
					<span class="glyphicon glyphicon-plus"></span>&nbsp;Bæta við mörgum
				</a>
			</li>
		</ul>
	</div>
	{% endif %}
</h3>
<table id="teacher-list" class="table table-hover table-striped">
	<thead>
		<th class="col-md-12"><h4>Nafn</h4></th>
	</thead>
	<tbody>
		{% for teacher in teachers %}
		<tr>
			<td class="col-md-12"><a href="{% url 'schools:teacher_detail' school.id teacher.id %}">{{teacher.name}}</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>