{% extends 'common/index.html'%}
{% load staticfiles %}
{% block content %}
<div class="row">
	<div class="col-md-8 col-xs-12">
		{% if request.user.is_authenticated %}
		<h1>Skólar</h1>
		{% if request.user.is_superuser %}
		<div class="row">
			<div class="col-md-12">
				<a href="{% url 'schools:admin_create' %}" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span>&nbsp;Bæta við umsjónarmanni</a>
			</div>
		</div>
		{% endif %}
		<table id="school_list" class="table table-hover table-striped">
			<thead>
				<tr>
					<th><h4>Nafn</h4></th>
					<th><h4>Kennitala</h4></th>
					{% if request.user.is_superuser %}
					<th class="col-xs-1"><h4>Aðgerðir</h4></th>
					{% endif %}
				</tr>
			</thead>
			<tbody>
				{% for user in user_list %}
				<tr>
					<td>
						{% if user.manager_set.exists %}
							{{user.manager_set.first}}
						{% elif user.teacher_set.exists %}
							{{user.teacher_set.first}}
						{% else %}
							Nafn finnst ekki
						{% endif %}
					</td>
					<td>{{user.username}}</td>
					{% if request.user.is_superuser %}
					<td>
						<a href="{% url 'schools:admin_update' user.id %}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil"></span></a>
					</td>
					{% endif %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% else %}
			<p>Vinsamlegast skráðu þig inn.</p>
		{% endif %}
	</div>
	<div class="col-md-8 col-xs-12">
		<div class="row">
			<div class="col-md-12 alert-info">
			</div>
		</div>
	</div>
</div>
{% endblock %}