{% extends 'common/index.html'%}
{% load common_helpers %}

{% block content %}
<script>
	var survey_data = {{groupsurvey.data_fields|get_json|safe}};
</script>
	<div class="row">
		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-12">
				<h1>
					{{survey_details.title}}
					{% if expired %}
						Lokið
					{% elif is_group_manager or is_school_manager %}
						<div class="btn-group">
							<a href="{% url 'schools:survey_update' school.id studentgroup.id groupsurvey.id %}" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></a>
							<a href="{% url 'schools:survey_delete' school.id studentgroup.id groupsurvey.id %}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
						</div>
					{% endif %}
					{% if groupsurvey.survey.survey_type.title == 'Lesskimun' %}
						<a href="{% url 'schools:survey_detail_excel' school.id studentgroup.id groupsurvey.id %}" class="btn btn-lg btn-primary pull-right">Sækja niðurstöður úr Lesskimun á Excel formi</a>
                    {% elif groupsurvey.survey.survey_type.title == 'Lesfimi' %}
						<a href="{% url 'schools:survey_detail_excel' school.id studentgroup.id groupsurvey.id %}" class="btn btn-lg btn-primary pull-right">Sækja niðurstöður í Lesfimi á Excel formi</a>
					{% endif %}
				</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-8">
					<p><strong>Skráning virk frá:</strong> {{groupsurvey.active_from|parse_date:"%Y-%m-%d"|date:"d-m-Y" }}</p>
					<p><strong>Skráning virk til:</strong> {{groupsurvey.active_to|parse_date:"%Y-%m-%d"|date:"d-m-Y" }}</p>
				</div>
				{% if is_group_manager or is_school_manager %}
				{% else %}
					<div class="col-xs-4 alert-info">
						Aðeins umsjónarmaður hóps getur skráð niðurstöður prófa.
					</div>
				{% endif %}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<h3>Nemendur</h3>
		</div>
		<div class="col-xs-12">
			<table id="result_list" class="table table-hover table-striped">
				<thead>
					<tr>
						<th>Nafn</th>
						<th>Kennitala</th>
						{% if groupsurvey.survey.survey_type.title == 'Lesskimun' %}
	 						<th class="col-md-2">Hljóð</th>
	 						<th class="col-md-2">Mál</th>
	 						<th class="col-md-2">Stafir</th>
	 					{% else %}
	 						<th class="col-xs-6">Niðurstöður</th>
	 					{% endif %}
						<th class="col-xs-2"></th>
					</tr>
				</thead>
				<tbody>
					{% for student in students %}
						{% get_survey_results student groupsurvey as student_result %}
						<tr>
							<td>
								<a href="{% url 'schools:student_detail' school.id student.id %}">
									{{student.name}}
								</a>
							</td>
							<td>{{student.ssn}}</td>
							{% if student_result %}
								{% with student_results|get_item:student as student_result_list %}
		 							{% for student_result in student_result_list %}
		 								<td>{{ student_result|safe }}</td>
		 							{% endfor %}
		 						{% endwith %}
							<td>
								<div class="btn-group">
									<button class="btn btn-default btn-xs" type="button" data-toggle="modal" data-target="#results-{{student_result.id}}" aria-expanded="false" aria-controls="collapseExample">
										Niðurstöður
									</button>
									{% if is_group_manager or is_school_manager %}
										{% if groupsurvey.is_open or request.user.is_superuser %}
										<a href="{% url 'schools:survey_result_update' school.id student.id groupsurvey.id student_result.id %}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil"></span></a>
										<a href="{% url 'schools:survey_result_delete' school.id student.id groupsurvey.id student_result.id %}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></a>
										{% endif %}
									{% endif %}
								</div>
							</td>
							{% else %}
							{% if groupsurvey.survey.survey_type.title == 'Lesskimun' %}
		 						<td>-</td>
		 						<td>-</td>
		 						<td>-</td>
		 					{% else %}
		 						<td>-</td>
		 					{% endif %}
							<td>
								{% if is_group_manager or is_school_manager %}
									{% if groupsurvey.is_open or request.user.is_superuser %}
									<a href="{% url 'schools:survey_result_create' school.id student.id groupsurvey.id %}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span>&nbsp;Skrá</a>
									{% endif %}
								{% endif %}
							</td>
							{% endif %}
						</tr>
					{% endfor %}
					{% for student in students %}
						{% get_survey_results student groupsurvey as student_result %}
						{% if student_result %}
						<div class="modal fade" id="results-{{student_result.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						        <h4 class="modal-title" id="results-{{student_result.id}}Label">{{student}}</h4>
						      </div>
						      <div class="modal-body">
						        {% with results=student_result.results %}
									<div class='row'>
										<div class='col-md-12'>
											{% if results.click_values %}
											<div>
												<strong>Valin orð:</strong>
												{% for val in results.click_values %}
													{% with val|split:"," as vals %}
													<p class="click_values">{{vals.1}}</p>
													{% endwith %}
												{% endfor %}
											</div>
											{% endif %}
											{% if results.input_values %}
											<div><strong>Innsláttur:</strong>
												{% for val in results.input_values %}
													<p class="click_values">{{val}}: {{results.input_values|get_item:val}}</p>
												{% endfor %}
											</div>
											{% endif %}
											{% if is_group_manager or is_school_manager %}
											<div><strong>Skráð af:</strong> {{student_result.reported_by}}</div>
											{% endif %}
										</div>
									</div>
								{% endwith %}
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						      </div>
						    </div>
						  </div>
						</div>
						{% endif %}
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<h3>Um prófið</h3>
			<div class="md">{{ survey_details.description|md|safe }}</div>
		</div>
		<div class="col-md-4 md-display">
			<h3>Prófgögn</h3>
			<ul class="survey_resources">
			{% for resource in survey_resources %}
				<li>
					<div>
						{% if resource.resource_url %}
							<h4><a href="{{resource.resource_url}}">{{resource.title}}</a></h4>
						{% else %}
							<h4>
							<a href="{% url 'schools:surveyresource_print' school.id studentgroup.id groupsurvey.id resource.id %}">{{resource.title}}</a>
							</h4>
						{% endif %}
						<p>{{resource.description|md|safe}}</p>
					</div>
				</li>
			{% endfor %}
			</ul>
		</div>
	</div>
	
{% endblock %}
{% block script %}
<script type="text/javascript">
$(document).ready(function(){
	dataTable_settings["columnDefs"] = [
       { "type": 'icelandic-html', "targets": 0 },
       { "type": 'kt-html', "targets": 1 },
       { "targets": [-1], "orderable": false },
       {% if groupsurvey.survey.survey_type.title == 'Lesskimun' %}
       { "type": 'icelandic-html', "targets": [2,3,4] },
       {% else %}
       { "type": 'num-html', "targets": [2] },
       {% endif %}
    ];
	$('#result_list').DataTable(dataTable_settings);
});
</script>
{% endblock %}
