{% extends 'common/index.html'%}

{% block content %}
<h3>Bekkir og hópar</h3>
<div>
	<table id="survey_list" class="table table-hover table-striped">
		<thead>
			<tr>
				<th>Bekkur</th>
				<th>Könnun</th>
			</tr>
		</thead>
		<tbody>
			{% for survey in surveys %}
			<tr>
				<td>{{survey.studentgroup}}</td>
				<td><a href="{% url 'schools:survey_detail' school.id studentgroup.id survey.id %}">{{survey.survey.title}}</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}