{% extends 'common/index.html'%}
{% load common_helpers %}

{% block content %}
<script>
	var survey_data = {{groupsurvey.data_fields|get_json|safe}};
</script>
<h1>{{survey_details.title}}</h1>
<div class="row">
	<div class="row">
		<div class="col-md-4">
			<div class="row">
				<div class="col-md-12">
				{% if expired %}
					Lokið
				{% elif is_group_manager or is_school_manager %}
					<a href="{% url 'schools:survey_update' school.id studentgroup.id groupsurvey.id %}" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Breyta</a>
					<a href="{% url 'schools:survey_delete' school.id studentgroup.id groupsurvey.id %}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span>&nbsp;Eyða</a>
				{% endif %}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					Skráning virk frá: {{survey_details.active_from|parse_date:"%Y-%m-%d"|date:"d-m-Y" }}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					Skráning virkt til: {{survey_details.active_to|parse_date:"%Y-%m-%d"|date:"d-m-Y" }}
				</div>
			</div>
		</div>
		<div class="col-md-4"></div>
		<div class="col-md-4 alert-info">
			{% if is_group_manager or is_school_manager %}
				Þú ert umsjónarmaður í þessum hóp eða skóla og getur skráð niðurstöður prófa.
			{% else %}
				Aðeins umsjónarmaður hóps getur skráð niðurstöður prófa.
			{% endif %}
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="row">
				<h3>Um prófið</h3>
				<div class="md">{{ survey_details.description }}</div>
			</div>
			<div class="row">
				<div class="col-md-6 md-display">
					<h3>Ítargögn</h3>
					<ul class="survey_resources">
					{% for resource in survey_details.resources %}
						<li>
							<div>
								<h4><a href="{{resource.resource_url}}">{{resource.title}}</a></h4>
								<p>{{resource.description|md|safe}}</p>
							</div>
						</li>
					{% endfor %}
					</ul>
				</div>
				<div class="col-md-6">
					<div class="row">
					{% for text in survey_details.texts %}
						<div class="col-md-12 md-display">
							<h3>{{text.title}}</h3>
							<p>{{text.text|md|safe}}</p>
						</div>
					{% endfor %}
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<h3>Nemendur</h3>
			<div class="row">
				<div class="col-md-12">
					{% for student in students %}
						{% get_survey_results student groupsurvey as student_result %}
						<div class="row">
							<div class="col-md-2">{{student.ssn}}</div>
							<div class="col-md-5"><a href="{% url 'schools:student_detail' school.id student.id %}">{{student.name}}</a></div>
							{% if student_result %}
							<div class="col-md-3">{{ student_results|get_item:student }}<!-- sparkline to be added --></div>
							<div class="col-md-2">
								{% if is_group_manager or is_school_manager %}
									{% if groupsurvey.is_expired %}
									{% else %}
									<a href="{% url 'schools:survey_result_update' school.id student.id groupsurvey.id student_result.id %}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil"></span></a>
									{% endif %}
								{% endif %}
								<button href="" class="btn btn-default btn-xs" type="button" data-toggle="collapse" data-target="#results-{{student_result.id}}" aria-expanded="false" aria-controls="collapseExample">
									<span class="caret"></span>
								</button>
							</div>
							{% else %}
							<div class="col-md-3">
								{% if is_group_manager or is_school_manager %}
									{% if groupsurvey.is_expired %}
									{% else %}
									<a href="{% url 'schools:survey_result_create' school.id student.id groupsurvey.id %}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span>&nbsp;Skrá</a>
									{% endif %}
								{% endif %}
							</div>
							{% endif %}
						</div>
						{% if student_result %}
						<div class="collapse row" id="results-{{student_result.id}}">
							<div class="well col-md-12">
								{% with results=student_result.results|get_json %}
									<div class='row'>
										<div class='col-md-12'>
											<div>
												<strong>Valin orð:</strong>
												{% for val in results.click_values|literal_eval %}
													<p class="click_values">{{val}}</p>
												{% endfor %}
											</div>
											<div><strong>Innsláttur:</strong>
												{% for val in results.input_values %}
													<p class="click_values">{{val}}: {{results.input_values|get_item:val}}</p>
												{% endfor %}
											</div>
											{% if is_group_manager or is_school_manager %}
											<div><strong>Skráð af:</strong> {{student_result.reported_by}}</div>
											{% endif %}
										</div>
									</div>
								{% endwith %}
							</div>
						</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>		
	</div>	
</div>
{% endblock %}