{% extends 'common/index.html'%}
{% load common_helpers %}

{% block content %}
<script>
	var survey_data = {{groupsurvey.data_fields|get_json|safe}};
</script>
<div class="row">
	<div class="row">
		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-12">
				<h1>
					{{survey_details.title}}
					{% if expired %}
						Lokið
					{% elif is_group_manager or is_school_manager %}
						<div class="btn-group">
							<a href="{% url 'schools:survey_update' school.id studentgroup.id groupsurvey.id %}" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></a>
							<a href="{% url 'schools:survey_delete' school.id studentgroup.id groupsurvey.id %}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
						</div>
					{% endif %}
				</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-8">
					<p><strong>Skráning virk frá:</strong> {{groupsurvey.active_from|parse_date:"%Y-%m-%d"|date:"d-m-Y" }}</p>
					<p><strong>Skráning virkt til:</strong> {{groupsurvey.active_to|parse_date:"%Y-%m-%d"|date:"d-m-Y" }}</p>
				</div>
				<div class="col-xs-4 alert-info">
					{% if is_group_manager or is_school_manager %}
						Þú ert umsjónarmaður í þessum hóp eða skóla og getur skráð niðurstöður prófa.
					{% else %}
						Aðeins umsjónarmaður hóps getur skráð niðurstöður prófa.
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<h3>Um prófið</h3>
			<div class="md">{{ survey_details.description }}</div>
		</div>
		<div class="col-md-6 md-display">
			<h3>Ítargögn</h3>
			<ul class="survey_resources">
			{% for resource in survey_details.resources %}
				<li>
					<div>
						<h4><a href="{{resource.resource_url}}">{{resource.title}}</a></h4>
						<p>{{resource.description|md|safe}}</p>
					</div>
				</li>
			{% endfor %}
			</ul>
		</div>
	</div>
	<div class="row">
		<h3>Nemendur</h3>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Kennitala</th>
					<th>Nafn</th>
					{% if '01b_LTL_' in groupsurvey.survey.identifier %}
 						<th class="col-md-2">Hljóð</th>
 						<th class="col-md-2">Mál</th>
 						<th class="col-md-2">Stafir</th>
 					{% else %}
 						<th class="col-xs-6">Niðurstöður</th>
 					{% endif %}
					<th class="col-xs-2"></th>
				</tr>
			</thead>
			<tbody>
				{% for student in students %}
					{% get_survey_results student groupsurvey as student_result %}
					<tr>
						<td>{{student.ssn}}</td>
						<td>
							<a href="{% url 'schools:student_detail' school.id student.id %}">
								{{student.name}}
							</a>
						</td>
						{% if student_result %}
							{% with student_results|get_item:student as student_result_list %}
	 							{% for student_result in student_result_list %}
	 								<td>{{ student_result|safe }}</td>
	 							{% endfor %}
	 						{% endwith %}
						<td>
							{% if is_group_manager or is_school_manager %}
								{% if groupsurvey.is_expired %}
								{% else %}
								<a href="{% url 'schools:survey_result_update' school.id student.id groupsurvey.id student_result.id %}" class="btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-pencil"></span></a>
								{% endif %}
							{% endif %}
							<button class="btn btn-default btn-xs pull-right" type="button" data-toggle="collapse" data-target="#results-{{student_result.id}}" aria-expanded="false" aria-controls="collapseExample">
								<span class="caret"></span>
							</button>
						</td>
						{% else %}
						<td></td>
						<td>
							{% if is_group_manager or is_school_manager %}
								{% if groupsurvey.is_expired = False %}
								<a href="{% url 'schools:survey_result_create' school.id student.id groupsurvey.id %}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span>&nbsp;Skrá</a>
								{% endif %}
							{% endif %}
						</td>
						{% endif %}
					</tr>
					{% if student_result %}
					<tr class="collapse" id="results-{{student_result.id}}">
						<td class="well" colspan="4">
							{% with results=student_result.results|get_json %}
								<div class='row'>
									<div class='col-md-12'>
										{% if results.click_values %}
										<div>
											<strong>Valin orð:</strong>
											{% for val in results.click_values|literal_eval %}
												<p class="click_values">{{val}}</p>
											{% endfor %}
										</div>
										{% endif %}
										{% if results.input_values %}
										<div><strong>Innsláttur:</strong>
											{% for val in results.input_values %}
												<p class="click_values">{{val}}: {{results.input_values|get_item:val}}</p>
											{% endfor %}
										</div>
										{% endif %}
										{% if is_group_manager or is_school_manager %}
										<div><strong>Skráð af:</strong> {{student_result.reported_by}}</div>
										{% endif %}
									</div>
								</div>
							{% endwith %}
						</re>
					</tr>
					{% endif %}
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}