{% extends 'common/index.html'%}

{% block content %}
<div class="row">
<h2>Lesferill</h2>
</div>
<div class="row">
	<div class="col-md-8 col-md-offset-2 col-xs-12">
		<div class="row md-display">
			<h3>Skjöl og námskeið</h3>
			<div>
				<h4><a href="https://mms.is/sites/mms.is/files/leidbeiningar_haust_2016_a4.pdf">Almennar leiðbeiningar um fyrirlögn og skráningar á stöðuprófum</a></h4>
			</div>
			<div>
				<h4><a href="https://www.youtube.com/watch?v=za76G8Bs8Hs&amp;feature=youtu.be">Glærunámskeið Lesfimi</a></h4>
				<iframe src="https://www.youtube.com/embed/za76G8Bs8Hs" frameborder="0" allowfullscreen></iframe>
				<p><a href="https://mms.is/sites/mms.is/files/glaerunamskeid_-_lesfimi_-_dreifirit.pdf" title="Lesfimi - Dreifirit">Lesfimi - Dreifirit</a></p>
			</div>
			<div>
				<h4><a href="https://www.youtube.com/watch?v=Y_biMd7Jpro">Glærunámskeið Nefnuhraði</a></h4>
				<iframe src="https://www.youtube.com/embed/Y_biMd7Jpro" frameborder="0" allowfullscreen></iframe>
				<p><a href="https://mms.is/sites/mms.is/files/glaerunamskeid_-_nefnuhradi_-_dreifirit.pdf" title="Nefnuhraði - Dreifirit">Nefnuhraði - Dreifirit</a></p>
			</div>
			<div>
				<h4><a href="https://www.youtube.com/watch?v=8lwjv0Ot1nA&amp;feature=youtu.be">Glærunámskeið Orðleysulestur</a></h4>
				<iframe src="https://www.youtube.com/embed/8lwjv0Ot1nA" frameborder="0" allowfullscreen></iframe>
				<p><a href="https://mms.is/sites/mms.is/files/glaerunamskeid_-_ordleysulestur_-_dreifirit.pdf" title="Orðleysulestur - Dreifirit">Orðleysulestur - Dreifirit</a></p>
			</div>
			<div>
				<h4><a href="https://www.youtube.com/watch?v=5SsHnGTJZAw&amp;feature=youtu.be">Glærunámskeið Sjónrænn orðaforði</a></h4>
				<iframe src="https://www.youtube.com/embed/5SsHnGTJZAw" frameborder="0" allowfullscreen></iframe>
				<p><a href="https://mms.is/sites/mms.is/files/glaerunamskeid_-_sjonraenn_ordafordi_-_dreifirit.pdf" title="Sjónrænn orðaforði - Dreifirit">Sjónrænn orðaforði - Dreifirit</a></p>
			</div>
		</div>
	</div>
</div>

{% endblock %}