{% extends 'common/index.html'%}

{% block content %}
<div class="row">
<h2>Lesferill</h2>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-12 md">
###  Nýtt matstæki frá Menntamálastofnun sem metur læsi
  
  
*Lesferill* er heiti á nýju matstæki sem unnið er af læsisteymi Menntamálastofnunar í samstarfi við aðra sérfræðinga stofnunarinnar. Lesferli er ætlað að meta grunnþætti læsis s.s. lesfimi, lesskilning, ritun, orðaforða og málskilning. Ætlunin er að *Lesferill* spanni frá þriggja til 16 ára aldurs. Hafist var handa við að vinna þessi próf í október 2015 þegar læsisteymið hóf störf. Ætlunin er að prófin verði öll tilbúin til notkunar haustið 2020. Ýmist er um stöðupróf eða skimanir að ræða.  
  
Alls eru fjögur próf tilbúin til notkunar haustið 2016, allt próf sem snúa að umskráningu eða sjálfri lestrartækninni. Hér er um að ræða lesfimipróf, sem má segja að séu grunnprófin, síðan eru það svonefnd hliðarpróf, sem meta þætti sem allir tengjast eða hafa áhrif á lestrartæknina. Hliðarprófin eru: próf í sjónrænum orðaforða, próf í orðleysulestri og nefnuhraðapróf.   
  
Mælt er með því að prófin séu lögð fyrir á eftirfarandi hátt:  
-	Lesfimiprófin fyrir alla nemendur reglulega í 1.-10. bekk (í september – janúar – maí).
-	Athugið að ekki er gert ráð fyrir að lesfimiprófið sé almennt lagt fyrir 1. bekkjar nemendur í september. Undantekningin er þeir nemendur sem eru komnir í gang með lestur. Prófið er ekki staðlað fyrir þetta tímabil og því fást eingöngu niðurstöður hvað varðar lesin atkvæði og orð á mínútu.
-	Hliðarprófin eftir þörfum til að skoða nánar hvernig lestrarfærni nemandans er háttað, hvar styrkleikar og hugsanlegir veikleikar liggja.   
-	Gagnlegt er að  
  
-	leggja nefnuhraðaprófið fyrir alla nemendur í janúar í 1. bekk.  
-	leggja próf í sjónrænum orðaforða fyrir alla nemendur í 1.-3. bekk (í september – janúar – maí).  
-	leggja orðleysuprófin fyrir alla nemendur a.m.k. einu sinni á ári í 1.-3. bekk.  

  
Stefnt er að því að stafsetningarpróf fyrir 4.-7. bekk verði tilbúin til notkunar í október.  
Þessi próf eru öll stöðupróf þar sem staða nemandans miðað við jafnaldra á landsvísu er metin.  
  
Prófin taka mið af aðalnámskrá grunnskóla og fylgja þeim áherslum sem þar eru lagðar.  
Þau eru aðgengileg til afnota fyrir alla grunnskóla þeim að kostnaðarlausu. Prófin er hægt að nota í heild sinni eða eingöngu hluta þeirra og þá hugsanlega að nota þau ásamt öðrum prófum sem kennarar kjósa að leggja fyrir.  
  
Auk þessara fjögurra prófa verður *Leið til læsis – lesskimun fyrir 1. bekk*, sem margir kennarar þekkja, hluti af *Lesferli* og verður prófið endurstaðlað. Lesskimunarprófið hefur fengið nafnið *Lesferill* – Lesskimun fyrir 1. bekk.  
   
Aðgengi að prófunum er rafrænt, þau eru vistuð inni í Skólagátt og munu kennarar geta nálgast þau þar til útprentunar.   
Þessi próf eru ekki opinber gögn og verða niðurstöður þeirra ekki birtar opinberlega.  
Þau eru valfrjáls möguleiki til að efla skólastarf og eru fyrst og fremst hugsuð sem verkfæri fyrir viðkomandi skóla og kennara til að bæta kennslu og koma til móts við ólíkar þarfir nemenda.  
    
Öll prófin eru stöðluð fyrir **þrjú fyrirlagnartímabil á skólaárinu: september, janúar og maí, að undanskildu prófinu Lesferill – Lesskimun fyrir 1. bekk en það próf er opið til fyrirlagnar í október.** Athugið að ekki er hægt að leggja prófin fyrir utan fyrirlagnartíma.  
Fjallað er um hvert próf fyrir sig á stuttum vefnámskeiðum sem verða aðgengileg inni í Skólagátt í byrjun september. Þar verður einnig hægt að nálgast einfaldan bækling með leiðbeiningum um fyrirlögn prófanna.   
  
Í framtíðinni munu kennarar fá niðurstöður prófanna rafrænt strax eftir að fyrirlögn og innslætti er lokið.* Nú í haust lýkur stöðlun prófanna og þess vegna munu niðurstöður að þessu sinni ekki verða aðgengilegar fyrr en í lok október.* Samtímis því verða birt viðmið um lesfimi/leshraða fyrir hvern árgang grunnskólans. Til að kennarar geti nýtt sér niðurstöður lesfimiprófanna strax er hægt að nálgast skráningarblöð með úttöldum atkvæða- og orðafjölda inni í Skólagátt eftir 12. september.  
  
*Leið til læsis eftirfylgniprófin* verða áfram aðgengileg. Ekki verður lagt í kostnað við að lagfæra gagnagrunninn sem þau próf eru vistuð í en eins og margir vita hafa komið fram erfiðleikar við úrvinnslu prófanna vegna veikleika í þeim gagnagrunni.  
  
*Lesferill* verður kynntur á haustþingum kennara víða um land og í fræðsluerindum fyrir grunnskólakennara í Reykjavík sem skipulagðir eru í samvinnu við Miðju máls og læsis.
			</div>
		</div>	
	</div>
	<div class="col-md-6">
		<div class="row md-display">
			<h3>Hvernig á að nota prófin</h3>
			<ul>
				<li>Skólastjórnendur og umsjónarkennarar geta sett hópa í próf með því að smella á takkann "bæta við prófi" á viðkomandi bekkjarsíðu</li>
				<li>Upplýsingar um hvernig á að nota hvert próf sést þegar búið er að skrá hópinn í prófið</li>
				<li>Ef hópur er rangt skráður í próf þá er bara hægt að hætta við með því að smella á "eyða" takkan eða lagfæra með því að smella á "breyta" takkann.</li>
				<li>Einungis umsjónarkennarar geta skráð niðurstöður prófa fyrir hvern nemanda</li>
			</ul>
		</div>
		<div class="row md-display">
			<h3>Skjöl og námskeið</h3>
			<div>
				<h4><a href="https://mms.is/sites/mms.is/files/leidbeiningar_haust_2016_a4.pdf">Almennar leiðbeiningar um fyrirlögn og skráningar á stöðuprófum</a></h4>
			</div>
			<div>
				<h4><a href="https://www.youtube.com/watch?v=za76G8Bs8Hs&amp;feature=youtu.be">Glærunámskeið Lesfimi</a></h4>
				<iframe src="https://www.youtube.com/embed/za76G8Bs8Hs" frameborder="0" allowfullscreen></iframe>
				<p><a href="https://mms.is/sites/mms.is/files/glaerunamskeid_-_lesfimi_-_dreifirit.pdf" title="Lesfimi - Dreifirit">Lesfimi - Dreifirit</a></p>
			</div>
			<div>
				<h4><a href="https://www.youtube.com/watch?v=Y_biMd7Jpro">Glærunámskeið Nefnuhraði</a></h4>
				<iframe src="https://www.youtube.com/embed/Y_biMd7Jpro" frameborder="0" allowfullscreen></iframe>
				<p><a href="https://mms.is/sites/mms.is/files/glaerunamskeid_-_nefnuhradi_-_dreifirit.pdf" title="Nefnuhraði - Dreifirit">Nefnuhraði - Dreifirit</a></p>
			</div>
			<div>
				<h4><a href="https://www.youtube.com/watch?v=8lwjv0Ot1nA&amp;feature=youtu.be">Glærunámskeið Orðleysulestur</a></h4>
				<iframe src="https://www.youtube.com/embed/8lwjv0Ot1nA" frameborder="0" allowfullscreen></iframe>
				<p><a href="https://mms.is/sites/mms.is/files/glaerunamskeid_-_ordleysulestur_-_dreifirit.pdf" title="Orðleysulestur - Dreifirit">Orðleysulestur - Dreifirit</a></p>
			</div>
			<div>
				<h4><a href="https://www.youtube.com/watch?v=5SsHnGTJZAw&amp;feature=youtu.be">Glærunámskeið Sjónrænn orðaforði</a></h4>
				<iframe src="https://www.youtube.com/embed/5SsHnGTJZAw" frameborder="0" allowfullscreen></iframe>
				<p><a href="https://mms.is/sites/mms.is/files/glaerunamskeid_-_sjonraenn_ordafordi_-_dreifirit.pdf" title="Sjónrænn orðaforði - Dreifirit">Sjónrænn orðaforði - Dreifirit</a></p>
			</div>
		</div>	
	</div>
</div>

{% endblock %}