{% extends 'common/index.html'%}

{% block content %}
<div class="row">
<h2>Lesferill</h2>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="row md-display">
			<h3>Hvernig á að nota prófin</h3>
			<ul>
				<li>Skólastjórnendur og umsjónarkennarar geta sett hópa í próf með því að smella á takkann "bæta við prófi" á viðkomandi bekkjarsíðu</li>
				<li>Upplýsingar um hvernig á að nota hvert próf sést þegar búið er að skrá hópinn í prófið</li>
				<li>Ef hópur er rangt skráður í próf þá er bara hægt að hætta við með því að smella á "eyða" takkan eða lagfæra með því að smella á "breyta" takkann.</li>
				<li>Einungis umsjónarkennarar geta skráð niðurstöður prófa fyrir hvern nemanda</li>
			</ul>
		</div>
	</div>
</div>

{% endblock %}