{% extends 'common/index.html'%}

{% block content %}
<div class="row">
<h2>Lesferill</h2>
</div>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Upplýsingar um Lesferil
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body md">
*Lesferill* er heiti á nýju matstæki sem unnið er af læsisteymi Menntamálastofnunar í samstarfi við aðra sérfræðinga stofnunarinnar. Lesferli er ætlað að meta grunnþætti læsis s.s. lesfimi, lesskilning, ritun, orðaforða og málskilning. Ætlunin er að Lesferill spanni tímabilið frá þriggja til sextán ára aldurs. Hafist var handa við að vinna þessi próf í október 2015 þegar læsisteymið tók til starfa. Ætlunin er að prófin verði öll tilbúin til notkunar haustið 2020. Ýmist er um stöðupróf eða skimanir að ræða.

Alls eru fimm próf tilbúin til notkunar. Fjögur þeirra snúa að umskráningu eða sjálfri lestrartækninni. Hér er annars vegar um að ræða lesfimipróf, sem segja má að séu grunnprófin, og hins vegar svonefnd hliðarpróf, sem meta þætti sem allir tengjast eða hafa áhrif á lestrartæknina. Hliðarprófin eru: **Próf í sjónrænum orðaforða, próf í orðleysulestri og nefnuhraðapróf.**

Auk þessara fjögurra prófa er **lesskimunarpróf fyrir 1. bekk** komið inn í Lesferil. Prófið hét áður Leið til læsis – lesskimun fyrir 1. bekk. 
Mælt er með því að prófin séu lögð fyrir á eftirfarandi hátt:

- **Lesfimiprófin** fyrir alla nemendur reglulega í 1.-10. bekk (í september – janúar – maí).
 - Athugið að ekki er gert ráð fyrir að lesfimiprófið sé almennt lagt fyrir 1. bekkjar nemendur í september. Undantekning eru þeir nemendur sem komnir eru í gang með lestur. Prófið er ekki staðlað fyrir þetta tímabil og því fást eingöngu niðurstöður hvað varðar lesin orð á mínútu.
- Hliðarprófin eru lögð fyrir eftir þörfum til að skoða nánar hvernig lestrarfærni nemandans er háttað, hvar styrkleikar og hugsanlegir veikleikar liggja.

 - Gagnlegt er að
  - leggja nefnuhraðaprófið fyrir alla nemendur einu sinni í 1. bekk.
  - leggja próf í sjónrænum orðaforða fyrir alla nemendur í 1.-3. bekk a.m.k. einu sinni á ári.
  - leggja orðleysuprófin fyrir alla nemendur a.m.k. einu sinni á ári í 1.-3. bekk.

Þrátt fyrir ofannefnt er rétt að taka fram að kennurum er treyst til að vega og meta hversu oft ætti að leggja hliðarprófin fyrir á skólaárinu. Ekki er ástæða til að leggja þau fyrir nemendur sem eru búnir að ná 25% viðmiðunum. Lagt er til að fyrst um sinn verði hliðarprófin nýtt fyrir nemendur sem eru í 50% viðmiðunum og neðar. 

Fyrrnefnd próf eru öll, að lesskimunarprófi fyrir 1. bekk undanskildu, stöðupróf þar sem staða nemandans miðað við jafnaldra er metin.

Prófin taka mið af aðalnámskrá grunnskóla og fylgja þeim áherslum sem þar eru lagðar.

Þau eru aðgengileg til afnota fyrir alla grunnskóla þeim að kostnaðarlausu. Prófin er hægt að nota í heild sinni eða eingöngu að hluta til og þá hugsanlega ásamt öðrum prófum sem kennarar kjósa að leggja fyrir.

Aðgengi að prófunum er rafrænt; þau eru vistuð inni í Skólagátt og geta kennarar nálgast þau þar til útprentunar. Þessi próf eru ekki opinber gögn og verða niðurstöður þeirra ekki birtar opinberlega. Þau eru valfrjáls möguleiki til að efla skólastarf og eru fyrst og fremst hugsuð sem verkfæri fyrir viðkomandi skóla og kennara til að bæta kennslu og koma til móts við ólíkar þarfir nemenda.

Stefnt er að því að stafsetningarpróf fyrir 4.-7. bekk verði tilbúin til notkunar haustið 2017.

Öll prófin sem nú eru tilbúin til notkunar eru stöðluð fyrir **þrjú fyrirlagnartímabil á skólaárinu: September, janúar og maí, að undanskildu prófinu lesskimun fyrir 1. bekk, en það próf er opið til fyrirlagnar í október.**44444 Athugið að ekki er hægt að leggja prófin fyrir utan fyrirlagnartíma og ekki er gert ráð fyrir að prófin séu lögð fyrir aðra aldurshópa en þau eru ætluð.

Fjallað er um hvert próf fyrir sig á stuttum vefnámskeiðum sem eru aðgengileg inni í Skólagátt. Þar er einnig hægt að nálgast einfaldan bækling með leiðbeiningum um fyrirlögn prófanna.

Í framtíðinni munu kennarar fá niðurstöður prófanna rafrænt strax eftir að fyrirlögn og innslætti er lokið.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Hvernig á að skrá nemendur/niðurstöður prófa inn í Skólagátt?
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <li>Skólastjórnendur og umsjónarkennarar geta sett hópa í próf með því að smella á takkann "bæta við prófi" á viðkomandi bekkjarsíðu</li>
        <li>Upplýsingar um hvernig á að nota hvert próf sést þegar búið er að skrá hópinn í prófið</li>
        <li>Ef hópur er rangt skráður í próf þá er bara hægt að hætta við með því að smella á "eyða" takkan eða lagfæra með því að smella á "breyta" takkann.</li>
        <li>Einungis umsjónarkennarar geta skráð niðurstöður prófa fyrir hvern nemanda</li>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Hvernig á að nota prófin? – Leiðbeiningabæklingur og námskeið
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <div>
          <h4><a href="https://mms.is/sites/mms.is/files/leidbeiningar_vor_2017_a4.pdf">Almennar leiðbeiningar um fyrirlögn og skráningar á stöðuprófum</a></h4>
        </div>
        <div>
          <h4><a href="https://www.youtube.com/watch?v=za76G8Bs8Hs&amp;feature=youtu.be">Vefnámskeið Lesfimi</a></h4>
          <iframe src="https://www.youtube.com/embed/za76G8Bs8Hs" width="560" height="315" frameborder="0" allowfullscreen></iframe>
          <p><a href="https://mms.is/sites/mms.is/files/glaerunamskeid_-_lesfimi_-_dreifirit.pdf" title="Lesfimi - Dreifirit">Lesfimi - Dreifirit</a></p>
        </div>
        <div>
          <h4><a href="https://www.youtube.com/watch?v=5SsHnGTJZAw&amp;feature=youtu.be">Vefnámskeið Sjónrænn orðaforði</a></h4>
          <iframe src="https://www.youtube.com/embed/5SsHnGTJZAw" width="560" height="315" frameborder="0" allowfullscreen></iframe>
          <p><a href="https://mms.is/sites/mms.is/files/glaerunamskeid_-_sjonraenn_ordafordi_-_dreifirit.pdf" title="Sjónrænn orðaforði - Dreifirit">Sjónrænn orðaforði - Dreifirit</a></p>
        </div>
        <div>
          <h4><a href="https://www.youtube.com/watch?v=8lwjv0Ot1nA&amp;feature=youtu.be">Vefnámskeið Orðleysulestur</a></h4>
          <iframe src="https://www.youtube.com/embed/8lwjv0Ot1nA" width="560" height="315" frameborder="0" allowfullscreen></iframe>
          <p><a href="https://mms.is/sites/mms.is/files/glaerunamskeid_-_ordleysulestur_-_dreifirit.pdf" title="Orðleysulestur - Dreifirit">Orðleysulestur - Dreifirit</a></p>
        </div>
        <div>
          <h4><a href="https://www.youtube.com/watch?v=Y_biMd7Jpro">Vefnámskeið Nefnuhraði</a></h4>
          <iframe src="https://www.youtube.com/embed/Y_biMd7Jpro" width="560" height="315" frameborder="0" allowfullscreen></iframe>
          <p><a href="https://mms.is/sites/mms.is/files/glaerunamskeid_-_nefnuhradi_-_dreifirit.pdf" title="Nefnuhraði - Dreifirit">Nefnuhraði - Dreifirit</a></p>
        </div>
        <div>
          <h4><a href="https://www.youtube.com/watch?v=Y_biMd7Jpro">Vefnámskeið Lesskimun</a></h4>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/4U8kRzctOS4" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}