{% extends 'common/index.html'%}

{% block content %}
<div class="row">
<h2>Lesferill</h2>
</div>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Upplýsingar um Lesferil
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body md">
<p><i>Lesferill</i> er heiti á nýju matstæki sem unnið er af læsisteymi Menntamálastofnunar í samstarfi við aðra sérfræðinga stofnunarinnar. <i>Lesferli</i> er ætlað að meta grunnþætti læsis s.s. lesfimi, lesskilning, ritun, orðaforða og málskilning. Ætlunin er að <i>Lesferill</i> spanni tímabilið frá þriggja til sextán ára aldurs. Hafist var handa við að vinna þessi próf í október 2015 þegar læsisteymið tók til starfa. Ætlunin er að prófin verði öll tilbúin til notkunar haustið 2020. Ýmist er um stöðupróf eða skimanir að ræða.</p>
<p><strong>Í maí 2017 verður eingöngu opið inn á fyrirlögn lesfimiprófa <i>Lesferils</i> í Skólagátt</strong>. Þrátt fyrir það eru fimm próf fullunnin, en þar sem úrvinnslugrunnur fyrir svokölluð hliðarpróf er ekki tilbúinn verður í maí 2017 eingöngu opið inn á lesfimiprófin. Gert er ráð fyrir að í september 2017 verði búið að opna fyrir fyrirlögn hliðarprófanna, en þau meta þætti sem allir tengjast eða hafa áhrif á lestrartæknina.  Hliðarprófin eru: <strong>Próf í sjónrænum orðaforða</strong>, <strong>próf í orðleysulestri</strong> og <strong>nefnuhraðapróf</strong>.</p>
<p>Auk þessara fjögurra prófa er lesskimunarpróf fyrir 1. bekk komið inn í <i>Lesferil</i>. Prófið hét áður Leið til læsis – lesskimun fyrir 1. bekk. <strong>Það próf er eingöngu lagt fyrir í október í 1. bekk</strong>.</p>
<p>Mælt er með því að prófin séu lögð fyrir á eftirfarandi hátt:</p>
<ul>
  <li><strong>Lesfimiprófin</strong> fyrir alla nemendur reglulega í 1.-10. bekk (í september – janúar – maí).
    <ul>
      <li><u>Athugið</u> að ekki er gert ráð fyrir að lesfimiprófið sé almennt lagt fyrir 1. bekkjar nemendur í september. Undantekning eru þeir nemendur sem komnir eru af stað í lestri. Prófið er ekki staðlað fyrir þetta tímabil og því fást eingöngu niðurstöður hvað varðar lesin orð á mínútu.</li>
    </ul>
  </li>
</ul>
<p><i>Lesferilsprófin</i> taka mið af aðalnámskrá grunnskóla og fylgja þeim áherslum sem þar eru lagðar.
Þau eru aðgengileg til afnota fyrir alla grunnskóla þeim að kostnaðarlausu. Prófin er hægt að nota í heild sinni eða eingöngu að hluta til og þá hugsanlega ásamt öðrum prófum sem kennarar kjósa að leggja fyrir.</p>
<p>Aðgengi að prófunum er rafrænt; þau eru vistuð inni í Skólagátt og geta kennarar nálgast þau þar til útprentunar. Þessi próf eru ekki opinber gögn og verða niðurstöður þeirra ekki birtar opinberlega. Þau eru valfrjáls möguleiki til að efla skólastarf og eru fyrst og fremst hugsuð sem verkfæri fyrir viðkomandi skóla og kennara til að bæta kennslu og koma til móts við ólíkar þarfir nemenda.</p>
<p>Stefnt er að því að stafsetningarpróf fyrir 3.-8. bekk verði tilbúin til notkunar haustið 2017.</p>
<p>Öll prófin eru hugsuð til fyrirlagnar á <strong>þremur tímabilum á skólaárinu; september, janúar og maí, að undanskildu prófinu lesskimun fyrir 1. bekk, en það próf er opið til fyrirlagnar í október</strong>. </p>
<p>Athugið að ekki er hægt að leggja prófin fyrir utan fyrirlagnartíma og ekki er gert ráð fyrir að prófin séu lögð fyrir aðra aldurshópa en þau eru ætluð.</p>

<p>Fjallað er um hvert próf fyrir sig á stuttum vefnámskeiðum sem eru aðgengileg inni í Skólagátt. Þar er einnig hægt að nálgast einfaldan bækling með leiðbeiningum um fyrirlögn prófanna.</p>
<p>Kennarar fá niðurstöður lesfimiprófanna rafrænt strax eftir að fyrirlögn og innslætti er lokið.  </p>

      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Hvernig á að skrá nemendur/niðurstöður prófa inn í Skólagátt?
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <li>Skólastjórnendur og umsjónarkennarar geta sett hópa í próf með því að smella á takkann "bæta við prófi" á viðkomandi bekkjarsíðu</li>
        <li>Upplýsingar um hvernig á að nota hvert próf sést þegar búið er að skrá hópinn í prófið</li>
        <li>Ef hópur er rangt skráður í próf þá er bara hægt að hætta við með því að smella á "eyða" takkan eða lagfæra með því að smella á "breyta" takkann.</li>
        <li>Einungis umsjónarkennarar geta skráð niðurstöður prófa fyrir hvern nemanda</li>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Hvernig á að nota prófin? – Leiðbeiningabæklingur og námskeið
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <div>
          <h4><a href="https://mms.is/sites/mms.is/files/leidbeiningar_vor_2017_a4.pdf">Almennar leiðbeiningar um fyrirlögn og skráningar á stöðuprófum</a></h4>
        </div>
        <div>
          <h4><a href="https://www.youtube.com/watch?v=za76G8Bs8Hs&amp;feature=youtu.be">Vefnámskeið Lesfimi</a></h4>
          <iframe src="https://www.youtube.com/embed/za76G8Bs8Hs" width="560" height="315" frameborder="0" allowfullscreen></iframe>
          <p><a href="https://mms.is/sites/mms.is/files/glaerunamskeid_-_lesfimi_-_dreifirit.pdf" title="Lesfimi - Dreifirit">Lesfimi - Dreifirit</a></p>
        </div>
        <div>
          <h4><a href="https://www.youtube.com/watch?v=5SsHnGTJZAw&amp;feature=youtu.be">Vefnámskeið Sjónrænn orðaforði</a></h4>
          <iframe src="https://www.youtube.com/embed/5SsHnGTJZAw" width="560" height="315" frameborder="0" allowfullscreen></iframe>
          <p><a href="https://mms.is/sites/mms.is/files/glaerunamskeid_-_sjonraenn_ordafordi_-_dreifirit.pdf" title="Sjónrænn orðaforði - Dreifirit">Sjónrænn orðaforði - Dreifirit</a></p>
        </div>
        <div>
          <h4><a href="https://www.youtube.com/watch?v=8lwjv0Ot1nA&amp;feature=youtu.be">Vefnámskeið Orðleysulestur</a></h4>
          <iframe src="https://www.youtube.com/embed/8lwjv0Ot1nA" width="560" height="315" frameborder="0" allowfullscreen></iframe>
          <p><a href="https://mms.is/sites/mms.is/files/glaerunamskeid_-_ordleysulestur_-_dreifirit.pdf" title="Orðleysulestur - Dreifirit">Orðleysulestur - Dreifirit</a></p>
        </div>
        <div>
          <h4><a href="https://www.youtube.com/watch?v=Y_biMd7Jpro">Vefnámskeið Nefnuhraði</a></h4>
          <iframe src="https://www.youtube.com/embed/Y_biMd7Jpro" width="560" height="315" frameborder="0" allowfullscreen></iframe>
          <p><a href="https://mms.is/sites/mms.is/files/glaerunamskeid_-_nefnuhradi_-_dreifirit.pdf" title="Nefnuhraði - Dreifirit">Nefnuhraði - Dreifirit</a></p>
        </div>
        <div>
          <h4><a href="https://www.youtube.com/watch?v=Y_biMd7Jpro">Vefnámskeið Lesskimun</a></h4>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/4U8kRzctOS4" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}