{% extends 'common/index.html'%}

{% block content %}
<h3>Skólastjórnendur</h3>
<div class="col-sm-12">
	<a href="{% url 'schools:manager_create' school.id %}" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span>Bæta við skólastjórnanda</a>
	<table id="manager_list" class="table table-hover">
		<thead>
			<tr>
				<td><h4>Nafn</h4></td>
				<td><h4>Staða</h4></td>
				<td class="col-xs-1"><h4>Aðgerðir</h4></td>
			</tr>
		</thead>
		<tbody>
			{% for manager in managers %}
			<tr>
				<td><a href="{% url 'schools:manager_detail' school.id manager.id %}">{{manager.name}}</a></td>
				<td>{{manager.position}}</td>
				<td>
					<div class="btn-group pull-right">
						<a href="{% url 'schools:manager_update' school.id manager.id %}" class="btn btn-xs">
							<span class="glyphicon glyphicon-pencil"></span>
						</a>
						<a href="{% url 'schools:manager_delete' school.id manager.id %}" class="btn btn-xs btn-danger">
							<span class="glyphicon glyphicon-trash"></span>
						</a>
					</div>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
$(document).ready(function(){
	dataTable_settings["columnDefs"] = [
       { "type": 'icelandic-html', "targets": [0,1] },
       { "targets": [-1], "orderable": false }
    ];
	$('#manager_list').DataTable(dataTable_settings);
});
</script>
{% endblock %}