{% extends 'common/index.html'%}


{% block content %}


{% if is_school_manager %}
	<div class="row">
		<div class="col-xs-12">
			<h1>
				{{manager.name}} ({{manager.user}})
				<div class="btn-group">
					<a href="{% url 'schools:manager_update' school.id manager.id %}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span></a>
					<a href="{% url 'schools:manager_delete' school.id manager.id %}" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash"></span></a>
				</div>
			</h1>
		</div>
	</div>

	<div class="row">
		<h3><a href="{% url 'schools:school_detail' school.id %}">{{ school }}</a></h3>
		<div class="col-md-4">
			{% with school.teachers.all as teachers %}
				{% include 'common/_teacher_list.html' %}
			{% endwith %}
		</div>
		<div class="col-md-4">
			{% with school.studentgroup_set.all as studentgroup_list %}
				{% include 'common/_group_list.html' %}
			{% endwith %}
		</div>
		<div class="col-md-4">
			{% with school.get_school_surveys as surveys %}
				{% include 'common/_survey_list.html' %}
			{% endwith %}
		</div>
	</div>
{% endif %}
{% endblock %}
