{% extends 'common/index.html'%}
{% include staticfiles%}
{% block content %}
<div class="row">
	<div class="col-md-6">
		<form action="" method="post" enctype="multipart/form-data">
			{% csrf_token %}
				<div class="form-group">
					<label for="file">Filename:</label>
					<input type="file" name="file" id="file" class="btn btn-default"/>
				</div>
				<label>Númer dálks fyrir:</label>
				<div class="row">
					<div class="form-group form-group-lg col-xs-4">
						<label for="ssn">Kennitölu</label>
						<input type="number" min="0" value="0" name="ssn" id="ssn" class="form-control" />
					</div>
					<div class="form-group form-group-lg col-xs-4">
						<label for="name">Nafn</label>
						<input type="number" min="0" value="1" name="name" id="name" class="form-control" />
					</div>
					<div class="form-group form-group-lg col-xs-4">
						<label for="school_ssn">Skóla</label>
						<input type="number" min="0" value="2" name="school_ssn" id="school_ssn" class="form-control" />
					</div>
				</div>
				<div class="form-group form-group-lg">
					<label for="title">Er fyrsta línan með titli</label>
					<input type="checkbox" id="title" name="title" value="yes" checked="checked" />
				</div>
				<div class="form-group form-group-lg">
					<input type="submit" value="Vista" class="btn btn-success btn-lgr"/>
				</div>
		</form>
	</div>
	<div class="col-md-6 alert-info">
		<p>Veljið Excel skrá, sem inniheldur dálka fyrir kennitölur og nöfn nemenda. Skráin verður að vera vistuð sem .xlsx</p>
		<p>Veljið dálkanúmer kennitölu og nafns þar sem fremsti dálkurinn er <strong>númer 0</strong>, næsti númer 1 o.s.frv.</p>
	</div>
</div>
{% endblock %}