{% extends 'common/index.html'%}
{% include staticfiles%}
{% block content %}
{{ error }}
<form action="" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<div class="row">
		<div class="col-md-3">
			<label for="file">Veldu skrá</label>
		</div>
		<div class="col-md-8">
			<input type="file" name="file" id="file" class="btn btn-default"/>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<label for="student_ssn">Númer dálks fyrir kennitölu nemanda</label>
		</div>
		<div class="col-md-8">
			<input type="number" name="student_ssn" id="student_ssn" min="0" value="0" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<label for="student_ssn">Númer dálks fyrir nafn nemanda</label>
		</div>
		<div class="col-md-8">
			<input type="number" name="student_name" id="student_name" min="0" value="0" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<label for="student_name">Númer dálks fyrir auðkenniskóða könnunar</label>
		</div>
		<div class="col-md-8">
			<input type="number" name="survey_id" id="survey_id" min="0" value="0"/>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<label for="password">Númer dálks fyrir lykilorð</label>
		</div>
		<div class="col-md-8">
			<input type="number" name="password" id="password" min="0" value="0"/>
		</div>
	</div>
	<div class="row">
		<label for="title"><input type="checkbox" id="title" name="title" value="yes">&nbsp;Er fyrsta línan með titli</label>
	</div>
	<div class="row">
		<input type="submit" value="Vista" class="btn btn-default"/>
	</div>
</form>
{% endblock %}