{% extends 'common/index.html'%}
{% include staticfiles%}
{% block content %}
{{ error }}
<div class="row">
	<div class="col-md-6">
		<form action="" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<ul class="form_elements">
				<li>
					<label for="file">Veldu skrá</label>
					<input type="file" name="file" id="file" class="btn btn-default"/>
				</li>
				<li>
					<label for="student_ssn">Kennitala nemanda</label>
					<input type="number" name="student_ssn" id="student_ssn" min="0" value="0" />
				</li>
				<li>
					<label for="student_ssn">Nafn nemanda</label>
					<input type="number" name="student_name" id="student_name" min="0" value="0" />
				</li>
				<li>
					<label for="student_name">Auðkenniskóði</label>
					<input type="number" name="survey_id" id="survey_id" min="0" value="0"/>
				</li>
				<li>
					<label for="password">Lykilorð</label>
					<input type="number" name="password" id="password" min="0" value="0"/>
				</li>
				<li>
					<label for="title">Er fyrsta línan með titli</label>
					<input type="checkbox" id="title" name="title" value="yes" />
				</li>
				<li>
					<input type="submit" value="Vista" class="btn btn-default"/>
				</li>
		</form>
	</div>
	<div class="col-md-6 alert-info">
		<p>Veljið skrá, excel eða csv, sem inniheldur dálka fyrir kennitölur, nöfn nemenda, ... . Skráin verður að vera vistuð sem .csv eða .xlsx</p>
		<p>Veljið dálkanúmer kennitölu og nafns þar sem fremsti dálkurinn er <strong>númer 0</strong>, næsti númer 1 o.s.frv.</p>
	</div>
</div>
{% endblock %}