{% extends 'common/index.html'%}
{% load staticfiles %}
{% block content %}
<div class="row">
	<div class="col-md-6">
		{% if request.user.is_authenticated %}
		<h1>Skólar</h1>
		{% if request.user.is_superuser %}
		<div class="row">
			<div class="btn-group" role="group">
				<a href="{% url 'schools:school_create'%}" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class="caret"></span>&nbsp;Bæta við skóla
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="{% url 'schools:school_create'%}">
							<span class="glyphicon glyphicon-plus"></span>&nbsp;Bæta við einum
						</a>
					</li>
					<li>
						<a href="{% url 'schools:school_create_import'%}">
							<span class="glyphicon glyphicon-plus"></span>&nbsp;Bæta við mörgum
						</a>
					</li>
				</ul>
				<a href="{% url 'schools:manager_create_import' %}" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span>&nbsp;Bæta við skólastjórnendum</a>
			</div>
		</div>
		{% endif %}
		<table id="school_list" class="table table-hover table-striped row">
			<thead>
				<th><h4>Kennitala</h4></th>
				<th><h4>Nafn</h4></th>
				{% if request.user.is_superuser %}
				<th><h4>Stjórnendur</h4></th>
				<th><h4>Nemendur</h4></th>
				<th><h4></h4></th>
				{% endif %}
			</thead>
			<tbody>
				{% for school in school_list %}
				<tr>
					<td>
						<a href="{% url 'schools:school_detail' school.id %}">{{school.ssn}}</a>
					</td>
					<td>
						<a href="{% url 'schools:school_detail' school.id %}">{{school.name}}</a>
					</td>
					{% if request.user.is_superuser %}
					<td>
						{{ school.managers.count }}
					</td>
					<td>
						{{ school.students.count }}
					</td>
					<td>
						<a href="{% url 'schools:school_update' school.id %}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil"></span></a>
						<a href="{% url 'schools:school_delete' school.id %}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></a>
					</td>
					{% endif %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% else %}
			<p>Vinsamlegast skráðu þig inn.</p>
		{% endif %}
	</div>
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-12 alert-info">
				<h4>Um skólagátt</h4>
				<p>Skólagáttin er ný miðlunarleið <a href="https://mms.is">Menntamálastofnunnar</a> við alla grunnskóla landsins. og heldur utan um nemendur og/eða hópa í hverjum skóla. Skólagáttin leysir af <strong>svæði skóla</strong> sem var á vef Námsmatsstofnunar.</p>
				<h4>Tilgangur </h4>
				<p>Í Skólagátt á að skrá stuðningsúrræði og undanþágur fyrir nemendur vegna samræmdra könnunarprófa, ná í lykilorð fyrir rafræn próf og skrá niðurstöður könnunarprófa.</p>
				<h4>Innskráning</h4>
				<p>Ákveðið hefur verið að aðgangur í Skólagátt sé með Íslykli eða rafrænum skilríkjum í stað lykilorða. Skólastjórnendur (skólastjóri og aðrir sem skólastjóri veitir aðgang) geta þá bætt við kennurum og nemendum í skólann. Kennarar geta þá skráð sig inn í skólagáttina og búið til hópa, bætt nemendum í hópana sína og gert allar tengdar aðgerðir.
				</p>
				<p>
				Til þess að virkja aðgang skóla fyrir skólastjóra/tengilið á Skólagátt þarf að senda eftirgreindar upplýsingar til Menntamálastofnunar á netfangið <a href="mailto:skolagatt@mms.is">skolagatt@mms.is</a>
					<ol>
						<li>nafn skóla</li>
						<li>kennitölu skóla</li>
						<li>nafn og kennitölu skólastjóra/tengiliðs.</li>
					</ol>
				</p>
				<h4>Aðgangur</h4>
				<p>Þegar aðgangur hefur verið virkjaður birtist nafn skólans til vinstri á síðunni og í valstiku efst. Inn á svæðið skráir skólastjóri/tengiliður kennara skólans, nemendur og nemendahópa. Ef nafn skóla birtist ekki við innskráningu er viðkomandi ekki á skrá sem kennari eða skólastjórnandi í grunnskóla.</p>
				<p>Til að fá aðgang þarf að hafa samband við skólastjóra/tengilið sem breytir skráningu og opnar fyrir aðgang að Skólagátt.</p>
				<h4>Aðstoð</h4>
				<p>Ef einhverjar spurningar vakna, eða þörf á aðstoð við skráningu, vinsamlega hafið samband með tölvupósti á netfangið <a href="mailto:skolagatt@mms.is">skolagatt@mms.is</a></p>
			</div>
		</div>
	</div>
</div>
{% endblock %}