{% extends 'common/index.html'%}
{% load common_helpers %}

{% block content %}
<div class="row">
	<div class="col-md-10">
		<h1>
			{{school.name}}
			<small>({{school.ssn}})</small>
			<div class="btn-group">
				{% if request.user.is_superuser %}
				<a href="{% url 'schools:school_update' school.id %}" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></a>
				<a href="{% url 'schools:school_delete' school.id %}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
				{% endif %}
			</div>
		</h1>
	</div>
	{% if is_school_teacher or is_school_manager %}
		<div class="col-xs-2">
			{% get_user_messages %}
		</div>
	{% endif %}
</div>
<div class="row">
	<div class="col-md-3">
		{% include 'common/_manager_list.html' %}
	</div>
	<div class="col-md-3">
		{% include 'common/_teacher_list.html' %}
	</div>
	<div class="col-md-6">
		{% include 'common/_group_list.html' %}
	</div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
	dataTable_settings["bPaginate"] = false;
	dataTable_settings["bFilter"] = false;
	// For first two tables
	dataTable_settings["columnDefs"] = [
       { "type": 'icelandic-html', "targets": [0] },
    ];
	$('table:not(:last-child)').DataTable(dataTable_settings);
	// For last table
	dataTable_settings["columnDefs"] = [
       { "type": 'num-html', "targets": [0] },
    ];
    $('table:last-child').DataTable(dataTable_settings);
</script>
{% endblock %}