{% extends 'common/index.html'%}
{% include staticfiles%}

{% block content %}
<h2>Skóli</h2>
<form action="" method="post">
{% csrf_token %}
	<div class="row">
		
		<div class="form-group form-group-lg has-feedback {% if form.name.errors %}has-error {% endif %}col-md-6 col-sm-12">
			<label for="{{ form.name.name }}">{{ form.name.label }}</label>
			{{ form.name }}
			{% if form.name.errors %}
				<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
				<span class="sr-only">(villa)</span>
				<p>{{ form.name.errors.as_text }}</p>
			{% endif %}
		</div>
		
		<div class="form-group form-group-lg has-feedback {% if form.ssn.errors %}has-error {% endif %}col-md-4 col-sm-12">
			<label for="{{ form.ssn.name }}">{{ form.ssn.label }}</label>
			{{ form.ssn }}
			{% if form.ssn.errors %}
				<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
				<span class="sr-only">(villa)</span>
				<p>{{ form.ssn.errors.as_text }}</p>
			{% endif %}
		</div>
		
		<div class="form-group form-group-lg has-feedback {% if form.school_nr.errors %}has-error {% endif %}col-md-2 col-sm-12">
			<label for="{{ form.school_nr.name }}">{{ form.school_nr.label }}</label>
			{{ form.school_nr }}
			{% if form.school_nr.errors %}
				<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
				<span class="sr-only">(villa)</span>
				<p>{{ form.school_nr.errors.as_text }}</p>
			{% endif %}
		</div>
	</div>
	<div class="row">
		<div class="form-group form-group-lg has-feedback {% if form.address.errors %}has-error {% endif %}col-md-4 col-sm-12">
			<label for="{{ form.address.name }}">{{ form.address.label }}</label>
			{{ form.address }}
			{% if form.address.errors %}
				<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
				<span class="sr-only">(villa)</span>
				<p>{{ form.address.errors.as_text }}</p>
			{% endif %}
		</div>
		<div class="form-group form-group-lg has-feedback {% if form.post_code.errors %}has-error {% endif %}col-md-2 col-sm-12">
			<label for="{{ form.post_code.name }}">{{ form.post_code.label }}</label>
			{{ form.post_code }}
			{% if form.post_code.errors %}
				<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
				<span class="sr-only">(villa)</span>
				<p>{{ form.post_code.errors.as_text }}</p>
			{% endif %}
		</div>
		<div class="form-group form-group-lg has-feedback {% if form.municipality.errors %}has-error {% endif %}col-md-3 col-sm-12">
			<label for="{{ form.municipality.name }}">{{ form.municipality.label }}</label>
			{{ form.municipality }}
			{% if form.municipality.errors %}
				<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
				<span class="sr-only">(villa)</span>
				<p>{{ form.municipality.errors.as_text }}</p>
			{% endif %}
		</div>
		<div class="form-group form-group-lg has-feedback {% if form.part.errors %}has-error {% endif %}col-md-3 col-sm-12">
			<label for="{{ form.part.name }}">{{ form.part.label }}</label>
			{{ form.part }}
			{% if form.part.errors %}
				<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
				<span class="sr-only">(villa)</span>
				<p>{{ form.part.errors.as_text }}</p>
			{% endif %}
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-6 col-sm-12">
			
			<div class="form-group form-group-lg has-feedback{% if form.managers.errors %} has-error{% endif %}">
				<label for="{{ form.managers.name }}">{{ form.managers.label }}</label>
				{{ form.managers }}
				{% if form.managers.errors %}
					<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
					<span class="sr-only">(villa)</span>
					<p>{{ form.managers.errors.as_text }}</p>
				{% endif %}
			</div>
			
			<div class="form-group form-group-lg has-feedback{% if form.teachers.errors %} has-error{% endif %}">
				<label for="{{ form.teachers.name }}">{{ form.teachers.label }}</label>
				{{ form.teachers }}
				{% if form.teachers.errors %}
					<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
					<span class="sr-only">(villa)</span>
					<p>{{ form.teachers.errors.as_text }}</p>
				{% endif %}
			</div>
		</div>
		<div class="col-md-6 col-sm-12">
			
			<div class="form-group form-group-lg has-feedback{% if form.students.errors %} has-error{% endif %}">
				<label for="{{ form.students.name }}">{{ form.students.label }}</label>
				{{ form.students }}
				{% if form.students.errors %}
					<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
					<span class="sr-only">(villa)</span>
					<p>{{ form.students.errors.as_text }}</p>
				{% endif %}
			</div>
		</div>
	</div>
	<hr>
	<div class="btn-group">
		<input type="submit" class="btn btn-success btn-lg" value="Vista" />
	</div>
</form>
{% endblock %}