{% extends 'common/index.html'%}
{% load common_helpers %}

{% block content %}
<div class="row">
	<div class="col-md-9">
		<h1>{{school.name}}</h1>
	</div>
	<div class="col-md-3">
		{% if request.user.is_superuser %}
		<a href="{% url 'schools:school_update' school.id %}" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Breyta</a>
		<a href="{% url 'schools:school_delete' school.id %}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span>&nbsp;Eyða</a>
		{% endif %}
	</div>
</div>
<div class="row">
	<div class="row">
		<div class="col-md-3">
			{% if is_school_manager %}
			<a href="{% url 'schools:manager_create' school.id %}" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span>&nbsp;Bæta við skólastjórnanda</a>
			{% endif %}
			{% include 'common/_manager_list.html' %}
		</div>
		<div class="col-md-3">
			<a href="{% url 'schools:teacher_create' school.id %}" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span>&nbsp;Bæta við kennara</a>
			{% include 'common/_teacher_list.html' %}
		</div>
		<div class="col-md-5">
			<a href="{% url 'schools:group_create' school.id %}" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span>&nbsp;Bæta við hóp</a>
			{% include 'common/_group_list.html' %}
		</div>
	</div>
</div>
{% endblock %}