{% extends 'common/index.html'%}
{% include staticfiles%}
{% block content %}
<div class="row">
	<div class="col-md-6">
		<form action="" method="post" enctype="multipart/form-data">
			{% csrf_token %}
				<div class="form-group">
					<label for="file">Filename:</label>
					<input type="file" name="file" id="file" class="btn btn-default"/>
				</div>
				<div class="form-group">
					<label for="school_ssn">Númer dálks fyrir kennitölu</label>
					<input type="number" min="0" value="0" name="school_ssn" id="school_ssn" class="form-control input-lg" />
				</div>
				<div class="form-group">
					<label for="school_name">Númer dálks fyrir nafn</label>
					<input type="number" min="0" value="0" name="school_name" id="school_name" class="form-control input-lg" />
				</div>
				<div class="form-group">
					<label for="title">Er fyrsta línan með titli</label>
					<input type="checkbox" id="title" name="title" value="yes" />
				</div>
				<div class="form-group">
					<input type="submit" value="Vista" class="btn btn-success btn-lg"/>
				</div>
		</form>
	</div>
	<div class="col-md-6 alert-info">
		<p>Veljið skrá, excel eða csv, sem inniheldur dálka fyrir kennitölur og nöfn nemenda. Skráin verður að vera vistuð sem .csv eða .xlsx</p>
		<p>Veljið dálkanúmer kennitölu og nafns þar sem fremsti dálkurinn er <strong>númer 0</strong>, næsti númer 1 o.s.frv.</p>
	</div>
</div>
{% endblock %}