{% extends 'common/index.html'%}

{% block content %}
<h1>Skólar</h1>
<div>
	<a href="{% url 'schools:school_create'%}" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span>Bæta við skóla</a>
	<div id="school_list" class="table table-hover">
		<div class="row">
			<div class="col-md-1"><h4>Kennitala</h4></div>
			<div class="col-md-3"><h4>Nafn</h4></div>
			<div class="col-md-1"><h4>Aðgerðir</h4></div>
		</div>
		{% for school in school_list %}
		<div class="row">
			<div class="col-md-1"><a href="{% url 'schools:school_detail' school.id %}">{{school.ssn}}</a></div>
			<div class="col-md-3"><a href="{% url 'schools:school_detail' school.id %}">{{school.name}}</a></div>
			<div class="col-md-1">
				<a href="{% url 'schools:school_update' school.id %}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil"></span></a>
				<a href="{% url 'schools:school_delete' school.id %}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></a>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}