{% extends 'common/index.html'%}

{% block content %}
	<div class="alert-danger">{{error}}</div>
	<div class="row">
		<div class="col-md-3"><a href="{% url 'schools:group_admin_listing_csv' surveys.first.title %}">CSV útgáfa</a></div>
		<div class="col-md-9">Lykill: ísl(1),ens(2),stæ(3)</div>
	</div>
	
	{% for survey in surveys %}
		<div class="row">
			<div class="col-md-6">
				<h3><a href="{% url 'schools:school_detail' survey.studentgroup.school.id %}">{{ survey.studentgroup.school }}</a></h3>
			</div>
		</div>
		<div class="row well">
			<div class="col-md-12">
				<div class="row">
					<h4>
						<a href="{% url 'schools:group_detail' survey.studentgroup.school.id survey.studentgroup.id %}">
							{{ survey.studentgroup }}
						</a>
					</h4>
				</div>
				<div class="row">
					<div class="col-md-4"><h4>Kennitala</h4></div>
					<div class="col-md-4"><h4>Nemandi</h4></div>
					<div class="col-md-4"><h4>Undanþága og Stuðningur</h4></div>
				</div>
				{% for student in survey.studentgroup.students.all %}
					<div class="row">
						<div class="col-md-4">{{ student.ssn }}</div>
						<div class="col-md-4">
							<a href="{% url 'schools:student_detail' survey.studentgroup.school.id student.id %}">{{ student.name }}</a>
						</div>
						{% if student.exceptions_set.all and student.supportresource_set.all %}
						<div class="col-md-4">
							<a href="{% url 'supportandexception:exception' survey.studentgroup.school.id student.id %}" title="Undanþágur"><span class="glyphicon glyphicon-flag" style="color:#449D44"></span>&nbsp;</a> 
							{{ student.exceptions_set.first.exam }}
							<a href="{% url 'supportandexception:supportresource' survey.studentgroup.school.id student.id %}" title="Stuðningsúrræði"><span class="glyphicon glyphicon-flag" style="color:#EC971F"></span>&nbsp;</a>
							Tími: {{ student.supportresource_set.first.longer_time }} Lestur:{{ student.supportresource_set.first.reading_assistance }}
						</div>
						{% elif student.exceptions_set.all %}
						<div class="col-md-4">
							<a href="{% url 'supportandexception:exception' survey.studentgroup.school.id student.id %}" title="Undanþágur"><span class="glyphicon glyphicon-flag" style="color:#449D44"></span>&nbsp;</a>
							{{ student.exceptions_set.first.exam }}
						</div>
						{% elif student.supportresource_set.all %}							
						<div class="col-md-4">
							<a href="{% url 'supportandexception:supportresource' survey.studentgroup.school.id student.id %}" title="Stuðningsúrræði"><span class="glyphicon glyphicon-flag" style="color:#EC971F"></span>&nbsp;</a>
							Tími: {{ student.supportresource_set.first.longer_time }} Lestur: {{ student.supportresource_set.first.reading_assistance }}
						</div>
						{% else %}
						<div class="col-md-4">
						</div>							
						{% endif %}
					</div>
				{% endfor %}
			</div>
		</div>
	{% endfor %}

{% endblock %}