{% extends 'common/index.html'%}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<h1>
			{{studentgroup.name}} <small>{{studentgroup.student_year}}. árgangur</small>
			<div class="btn-group" role="group" aria-label="...">
				<a href="{% url 'schools:group_update' studentgroup.school.id studentgroup.id%}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span></a>
				<a href="{% url 'schools:group_delete' studentgroup.school.id studentgroup.id%}" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash"></span></a>
			</div>
		</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<h3>Umsjónarmenn</h3>
		<table class="table table-striped table-hover" id="manager-table">
			<thead>
				<tr>
					<th>Nafn</th>
				</tr>
			</thead>
			<tbody>
			{% for teacher in teachers %}
				<tr>
					<td>
						<a href="{% url 'schools:teacher_detail' school.id teacher.id %}">{{ teacher }}</a>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="col-md-5">
		<h3>Nemendur</h3>
		<table class="table table-striped table-hover" id="student-table">
			<thead>
				<tr>
					<th>Nafn</th>
					<th>Kt.</th>
				</tr>
			</thead>
			<tbody>
				{% for student in students %}
					<tr>
						<td>
							<a href="{% url 'schools:student_detail' school.id student.id %}">{{student}}</a>
						</td>
						<td>
							<a href="{% url 'schools:student_detail' school.id student.id %}">{{student.ssn}}</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="col-md-4">
		<div class="row">
			<h3>
				Próf
				<a href="{% url 'schools:survey_create' school.id studentgroup.id %}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span></a>
			</h3>
			<table class="table table-striped table-hover" id="active-test-table">
				<thead>
					<tr>
						<th>Próf</th>
						<th>Lýkur</th>
					</tr>
				</thead>
				<tbody>
					{% for survey in surveys %}
					<tr>
						<td>
							<a href="{% url 'schools:survey_detail' school.id studentgroup.id survey.id %}">{{ survey.survey.title }}</a>
						</td>
						<td>
							{{ survey.active_to|date:"d-m-y"|lower }}
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="row">
			<h4>Niðurstöður</h4>
			<table class="table table-striped table-hover" id="done-test-table">
				<thead>
					<tr>
						<th>Próf</th>
						<th>Lauk</th>
					</tr>
				</thead>
				<tbody>
					{% for survey in old_surveys %}
					<tr>
						<td>
							<a href="{% url 'schools:survey_detail' school.id studentgroup.id survey.id %}">{{ survey.survey.title }}</a>
						</td>
						<td>
							{{ survey.active_to|date:"d-m-y"|lower }}
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		{% if samraemd %}
		<div class="row">
			<h4>Samræmd próf</h4>
			<a href="{% url 'samraemd:result_list_studentgroup' school.id studentgroup.id %}">Niðurstöður úr samræmdum prófum</a>
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
	dataTable_settings["bPaginate"] = false;
	dataTable_settings["bFilter"] = false;
	// For teacher table
	dataTable_settings["columnDefs"] = [
       { "type": 'icelandic-html', "targets": [0] },
    ];
	$('#manager-table').DataTable(dataTable_settings);
	// For student table
	dataTable_settings["columnDefs"] = [
       { "type": 'kt-html', "targets": [1] },
       { "type": 'icelandic-html', "targets": [0] },
    ];
    $('#student-table').DataTable(dataTable_settings);
    // For test tables
	dataTable_settings["columnDefs"] = [
       { "type": 'icelandic-html', "targets": [0] },
       { "type": 'dates-html', "targets": [1] },
    ];
    $('#active-test-table, #done-test-table').DataTable(dataTable_settings);
</script>
{% endblock %}
