{% extends 'common/index.html'%}

{% block content %}
<h3>
	Bekkir og hópar
	<a href="{% url 'schools:group_create' school.id %}" class="btn btn-default btn-sm" >
		<span class="glyphicon glyphicon-plus"></span>
	</a>
</h3>
<div class="col-md-8">
	<table id="teacher_list" class="table table-striped table-hover">
		<thead class="row">
			<tr>
				<th><h4>Nafn</h4></th>
				<th><h4>Árgangur</h4></th>
				<th><h4>Kennarar</h4></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		{% for group in studentgroups %}
		<tr>
			<td>
				<a href="{% url 'schools:group_detail' school.id group.id %}">{{group.name}}</a>
			</td>
			<td>
				{{group.student_year}}
			</td>
			<td>
				{% for manager in group.group_managers.all %}
					<a href="{% url 'schools:teacher_detail' school.id manager.id %}">{{ manager.name }}</a>
				{% endfor %}
			</td>
			<td>
				<div class="btn-group pull-right">
					<a href="{% url 'schools:group_update' group.school.id group.id%}" class="btn btn-default btn-xs">
						<span class="glyphicon glyphicon-pencil"></span>
					</a>
					<a href="{% url 'schools:group_delete' group.school.id group.id%}" class="btn btn-danger btn-xs">
						<span class="glyphicon glyphicon-trash"></span>
					</a>
				</div>
			</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}