{% extends 'common/index.html'%}

{% block content %}
<div>
	<div class="row">
		<div class="form-group">
			<label for="search-box">Leitarskilyrði</label>
			<input type="text" class="form-control" id="search-box">
		</div>
	</div>
	<div class="row">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th><h4>Nafn</h4></th>
					<th><h4>Kennitala</h4></th>
					<td class="col-xs-1"><h4>Aðgerðir</h4></td>
				</tr>
			</thead>
			<tbody id="search-results">
			</tbody>
		</table>
	</div>
</div>
{% endblock %}

{% block script %}
<script>
	function performSearch(query) {
		$.get( "{% url 'schools:api_student_search' %}?q=" + query, function( results ) {
			$('table tbody tr').remove();
			results.forEach(function(result){
				newhtml = '<tr><td><a href="/skoli/' + result['school__id'] + '/nemandi/' + result['id'] + '">' + result['name'] + '</a></td><td>' + result['ssn'] + '</td><td><a href="/skoli/' + result['school__id'] + '/nemandi/' + result['id'] + '/update/"><span class="glyphicon glyphicon-pencil"></span></a>&nbsp;<a href="/skoli/' + result['school__id'] + '/nemandi/' + result['id'] + '/delete/"><span class="glyphicon glyphicon-trash"></span></a></td></tr>';
				$('table tbody').append(newhtml);
			});
		});
	}
	$('#search-box').keyup(function(event){
		if ($(this).val().length > 1) {
			performSearch($(this).val());
		} else {
			$('table tbody tr').remove();
		}
	});
	$(document).ready(function() {
		if ($('#search-box').val().length > 1) {
			if($('table tbody tr').length < 1) {
				performSearch($('#search-box').val());
			}
		}
	});
</script>

{% endblock %}