{% extends 'common/index.html'%}

{% block content %}
<div class="row">
	<div class="col-md-9">
		<h1>{{studentgroup.name}}</h1>
	</div>
	<div class="col-md-3">
		<a href="{% url 'schools:group_update' studentgroup.school.id studentgroup.id%}" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Breyta</a>
		<a href="{% url 'schools:group_delete' studentgroup.school.id studentgroup.id%}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span>&nbsp;Eyða</a>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<h5>Árgangur: {{studentgroup.student_year}}</h5>
		<h4>Umsjónarmenn</h4>
		{% for teacher in studentgroup.group_managers.all %}
			<div class="row">
				<div class="col-md-12"><a href="{% url 'schools:teacher_detail' school.id teacher.id %}">{{ teacher }}</a></div>
			</div>
		{% endfor %}
	</div>
	<div class="col-md-5">
		<h4>Nemendur</h4>
		{% for student in studentgroup.students.all %}
			<div class="row">
				<div class="col-md-3">
					<a href="{% url 'schools:student_detail' school.id student.id %}">{{student.ssn}}</a>
				</div>
				<div class="col-md-7">
					<a href="{% url 'schools:student_detail' school.id student.id %}">{{student}}</a>
				</div>
				<div class="col-md-2">
					{% for exception in exceptions %}
						{% if exception.student.id == student.id %}
						<a href="{% url 'supportandexception:exception' school.id student.id %}" title="Undanþágur"><span class="glyphicon glyphicon-flag" style="color:#449D44"></span>&nbsp;</a>
						{% endif %}
					{% endfor %}
					{% for support in supports %}
						{% if support.student.id == student.id %}
						<a href="{% url 'supportandexception:supportresource' school.id student.id %}" title="Stuðningsúrræði"><span class="glyphicon glyphicon-flag" style="color:#EC971F"></span>&nbsp;</a>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		{% endfor %}
	</div>
	<div class="col-md-4">
		<h4>Kannanir</h4>
		<a href="{% url 'schools:survey_create' school.id studentgroup.id %}" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span>&nbsp;Bæta við könnun</a>
			<div class="row">
				<div class="col-md-6">
					<h5>Könnun</h5>
				</div>
				<div class="col-md-6">
					<h5>Lýkur</h5>
				</div>
			</div>
			{% for survey in surveys %}
				<div class="row">
					<div class="col-md-6">
						<a href="{% url 'schools:survey_detail' school.id survey.id %}">{{ survey.title }}</a>
					</div>
					<div class="col-md-6">
						{{ survey.active_to|date:"d-m-y"|lower }}
					</div>
				</div>
			{% endfor %}
	</div>
	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
			<h4>Niðurstöður</h4>
			{% for survey in old_surveys %}
				<div class="row">
					<div class="col-md-6">
						<a href="{% url 'schools:survey_detail' school.id survey.id %}">{{ survey.title }}</a>
					</div>
					<div class="col-md-6">
						{{ survey.active_to|date:"d-m-y"|lower }}
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}