{% extends 'common/index.html'%}

{% block content %}
<form action="" method="POST">{% csrf_token %}
<script type="text/javascript">
	var studentpk = {{student.pk}};
</script>

<h1>{{student.name}}</h1>
<div class="row">
	<div class="col-md-12">
		<a href="{% url 'schools:student_update' school.id student.id %}" class="btn btn-default" data-action='save_notes'><span class="glyphicon glyphicon-pencil"></span>&nbsp;Breyta</a>
		<a href="{% url 'schools:student_delete' school.id student.id %}" class="btn btn-danger" data-action='save_notes'><span class="glyphicon glyphicon-trash"></span>&nbsp;Eyða</a>
		<a href="{% url 'supportandexception:exception' school.id student.id %}" class="btn btn-info" data-action='save_notes'><span class="
glyphicon glyphicon-bookmark"></span>&nbsp;Undanþágur</a>
		<a href="{% url 'supportandexception:supportresource' school.id student.id %}" class="btn btn-warning" ><span class="
glyphicon glyphicon-bookmark"></span>&nbsp;Sérúrræði</a>
		<a  id="notes" class="btn btn-warning"><span class="glyphicon glyphicon-bookmark"></span>&nbsp;Skilaboð</a>
	</div>
</div>
skilaboð:
<div>
<div id="notesshow">
{% if student_moreinfo.notes != null %}
{{student_moreinfo.notes}}
{% endif %}
</div>
<div id="textareashow" style="display:none;">

<textarea id="textareaid">{% if student_moreinfo.notes != null %}
{{student_moreinfo.notes}}
{% endif %}</textarea>

</div>
</div>
</form>
{% endblock %}