{% extends 'common/index.html'%}

{% block content %}
<h1>{{survey.title}}</h1>
<div class="row">
	<div class="col-md-12">
		<a href="{% url 'schools:survey_update' school.id survey.id %}" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Breyta</a>
		<a href="{% url 'schools:survey_delete' school.id survey.id %}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span>&nbsp;Eyða</a>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		{{survey.active_from}}
	</div>
	<div class="col-md-12">
		{{survey.active_to}}
	</div>
</div>
{% endblock %}