{% extends 'second_base.html'%}
{% load staticfiles %}
{% block stylesheet %}
    <link href="{% static 'schools/css/example_survey_samraemd_detail_print.css' %}" rel="stylesheet">
    <meta name="name" content="content">
{% endblock %}

{% block content %}
<page size="A4">
    <div class="outer-border">
        <img src="{% static 'img/logo-3litur.png'%}" class="img-responsive mms-logo"/>
        <h1 class="text-center">Prófgagn</h1>
        <div class="row headinfo">
            <div class="info col-xs-6">
                <p>{{ school.name }}</p>
                <p>{{ survey.title }}</p>
                <p>{{ studentgroup.name }}</p>
            </div>
        </div>
        <div class="content">
            {{ surveyresource.resource_html|safe }}
        </div>
    </div>
</page>
{% endblock %}