{% extends 'common/index.html'%}

{% block content %}
<h3>Kannanir</h3>
<div>
	<div id="survey_list" class="table table-hover">
		<div class="row">
			<div class="col-md-12"><h4>Könnun</h4></div>
		</div>
		{% for survey in survey_list %}
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-6">
				<a href="{% url 'schools:survey_login_detail' school_id survey.identifier %}">{{survey.title}}</a>
				</div>
				<div class="col-md-6">
				<a href="{% url 'schools:survey_login_detail' school_id survey.identifier %}_stuðningur">stuðningur</a>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}