{% extends 'second_base.html'%}
{% load staticfiles %}
{% block stylesheet %}
    <link href="{% static 'schools/css/survey_resource_print.css' %}" rel="stylesheet">
    <meta name="name" content="content">
{% endblock %}

{% block content %}
<page size="A4">
    <div class="outer-border">
        <img src="{% static 'img/logo-3litur.png'%}" class="img-responsive mms-logo"/>
        <h2 class="text-center">{{surveyresource.title}}</h1>
        <h3 class="text-center">{{survey.title}}</h3>
        <hr />
        <div class="content">
            {{ surveyresource.resource_html|safe }}
        </div>
    </div>
</page>
{% endblock %}