{% extends 'common/index.html'%}

{% block content %}
<h3>Kannanir</h3>
<div class="row">
	<a href="{% url 'schools:survey_login_create'%}" class="btn btn-default">
		<span class="glyphicon glyphicon-plus"></span>&nbsp;Uppfæra lykilorð
	</a>
</div>
<div>
	<div id="survey_list" class="table table-hover">
		<div class="row">
			<div class="col-md-4"><h4>Könnun</h4></div>
			<div class="col-md-1"><h4>Aðgerðir</h4></div>
		</div>
		{% for survey in survey_login_list %}
		<div class="row">
			<div class="col-md-4"><a href="{% url 'schools:survey_login_detail_all' survey.survey_id %}">{{survey.survey_id}}</a></div>
			<div class="col-md-1"><a href="{% url 'schools:surveylogin_delete' survey.survey_id %}"><span class="glyphicon glyphicon-trash"></span></a></div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}