{% extends 'common/index.html'%}
{% include staticfiles%}
{% load common_helpers %}

{% block content %}
<div class="row">
	<div class="col-md-6"><h4>Nemandi: {{student.first.name}}</h4></div>
</div>
<h2>Skráningareyðublað</h2>
	<hr />
	<h4>Leiðbeiningar:</h4>
	<div id="selected_words" class="row alert alert-info">
		<p>{{grading_template.info|safe}}</p>
	</div>
	<div class='md' id="grading_template">{{grading_template.md|safe}}</div>
	<hr />
<form action="" method="post" id="survey_result_form" class="form-horizontal">
	{% if input_groups %}
	<table class="table table-striped">
		<thead>
			<th><h3>Innsláttarsvæði</h3></th>
			<th class="col-xs-8"><h3><small>Lýsing</small></h3></th>
		</thead>
		<tbody id="input_fields">
			{% for ig in input_groups %}
			<tr>
				<td class="info lead">{{ ig.group }}</td>
				<td class="info">{{ ig.group.description }}</td>
			</tr>
			{% for input in ig.inputs %}
				<tr>
					<td>
						<div class="col-xs-4">
							<label for="{{ input.get_id }}">{{ input.get_id }}</label>
						</div>
						<div class="col-xs-8">
							<input type="number" name="{{ input.get_id }}" id="{{ input.get_id }}" class="form-control" />
						</div>
					</td>
					<td></td>
				</tr>
			{% endfor %}
		{% endfor %}
		</tbody>
	</table>
	{% endif %}
	{% csrf_token %}
	{{ form.as_p }}
	<button type="submit" class="btn btn-success btn-lg">Vista</button>
</form>
{% endblock %}

{% block script %}
	<script type='text/javascript'>
		var data_results = {{data_result|safe}};
		var update = [];
		if(data_results){
			//updating, prepare to highlight data
			try {
				var click_values = JSON.parse(data_results['click_values']);
				for(i in click_values){
					update.push(click_values[i].split(',')[0]);
				}
				var input_values = data_results['input_values'];
				var input_keys = Object.keys(data_results['input_values']);
			}
			catch(err) {}
		}

		// input
		// val = string
		// output = string where each word has been wrapped with span count=word number
		function wrap_text( val ){
			var words = val.match(/([^\x00-\x7F]|\w)+/g);
			results = "";
			for(i in words){
				var replaced = val.replace(words[i], "<span count='"+i+"'>"+words[i]+"</span>"); //get replaced text
				results += replaced.split('</span>')[0]+'</span>'; //add replaced text to results
				val = replaced.split('</span>')[1]; //continue working on val
			}
			results += val; //add the rest of val
			return results;
		}

		// update click_input form
		try {
			//wrap each word in span count
			var text_container = $("#grading_template");
			text_container.html(wrap_text(text_container.html()));
			//highlight words from update array
			print(i)
			for(i in update) {
				if(i==(update.length-1)){
					$('span[count='+update[i]+']').toggleClass('codered');
				}
				else
				{
					$('span[count='+update[i]+']').toggleClass('selected');

				}
			}
		}
		catch(err) {
			console.log(err);
		}

		// update input_fields
		try {
			for(i in input_keys)
			{
				$("#"+input_keys[i]).val(input_values[input_keys[i]]);
			}
		}
		catch(err) {
			console.log(err);
		}


		$( ".md" ).each(function( index ) {
			$( this ).html(marked( $( this ).html() ));
		});

		$("#survey_result_form").on('submit', function(event){
			//event.preventDefault();
			var selected_words = $("span.selected");
			var red_word = $("span.codered");
			selected_words.each(function(i){
				$("#survey_result_form").append($("<input type='hidden' />").attr({
					name:'data_results[]',
					value: [$(selected_words[i]).attr('count'), $(selected_words[i]).text()]
				}));
			});
			$("#survey_result_form").append($("<input type='hidden' />").attr({
				name:'data_results[]',
				value: [$(red_word).attr('count'), $(red_word).text()]
			}));

		});
		$( document ).ready(function() {
		    $('span[count]').on('click',function(event){
				var classes = ['','selected','codered'];
				this.className = classes[($.inArray(this.className, classes)+1)%classes.length];
			});
		});
	</script>
	{% endblock %}