{% extends 'common/index.html'%}
{% include staticfiles%}
{% load common_helpers %}

{% block content %}
<form action="" method="post" id="survey_result_form">
	<div class='md' id="grading_template">{{grading_template|safe}}</div>
	<div id="selected_words" class="row">
		Tvísmelltu á orð í textanum fyrir ofan sem voru rangt lesin. Síðasta orðið sem er valið er síðasta orðið sem nemandi las. Ef síðsta orðið var rangt lesið, veldu þá einnig næsta orð á eftir.
	</div>
	<div id="selected_words" class="row"></div>
	{% csrf_token %}
	{{ form.as_p }}
	<input type="submit" value="Save" />
</form>
{% endblock %}

{% block script %}
	<script type='text/javascript'>
		function wrap_text( val ){
			var words = val.match(/[\w]+/g);
			console.log(words);
			for(i in words){
				val = val.replace(words[i], "<span count='"+i+"'>"+words[i]+"</span>");
			}
			console.log(val);
			return val;
		}

		var data_fields = {{data_fields|default:""|safe }};
		var data_result = {{data_result|default:""|safe }};
		var field_types = {{field_types|default:""|safe}};
		var if_grading_template = {{if_grading_template}};

		try {
			if(if_grading_template){
				//wrap each word in span count
				var text_container = $("#grading_template");
				text_container.html(wrap_text(text_container.html()));
			}
			else {
				$("#selected_words").toggle();
				//add namska select
				data_input = "";
				$.each(data_fields, function(key, value){
					if(field_types.indexOf(value['field_type']) > -1)
					{
						data_input += '<p>';
						data_input += '<label for="'+value['field_name']+'">'+value['field_label']+': </label>';
						if(data_result.error === "no value") {
							data_input += '<input id="'+value['field_name']+'" name="'+value['field_name']+'" type="'+value['field_type']+'"  value="" />';
						}
						else {
							data_input += '<input id="'+value['field_name']+'" name="'+value['field_name']+'" type="'+value['field_type']+'"  value="'+data_result[value['field_name']]+'" />';
						}
						data_input += '</p>';
					}
				});
				var s = $('#survey_result_form').prepend(data_input);
			}
		}
		catch(err) {
			console.log(err);
		}
	$( ".md" ).each(function( index ) {
		$( this ).html(marked( $( this ).html() ));
	});
	$('span[count]').dblclick(function(){
		//append removable div to grading_template
		var selected_text = $(this).html();
		var word_number = $(this).attr('count');
		$("#grading_template").append("<span><a class='removable'><span class='glyphicon glyphicon-remove'></span></a>"+selected_text+":"+word_number+"</span>");
	});

	$( document ).on('click', '.removable', function(event){
		event.preventDefault()
		$(this).parent().remove();
	});
	</script>
	{% endblock %}