{% extends 'common/index.html'%}
{% include staticfiles%}
{% block content %}

	<div class="row">
		<div class="col-md-12"><h3>Eru gögnin rétt?</h3></div>
	</div>
	<div class="row">
		<div class="col-md-2">
			<h3>Já</h3>
			<a class="btn btn-default" href="" id="save_data"><span class="glyphicon glyphicon-ok"></span>&nbsp;Vista gögn</a>
		</div>
		<div class="col-md-2">
			<h3>Nei</h3>
			<a class="btn btn-default" href="{% url 'schools:school_listing' %}"><span class="glyphicon glyphicon-remove"></span>&nbsp;Hætta við</a>
		</div>
	</div>
	<div class="row">
		<table>
			<thead>
				<tr>
					<th><h4>Kennitala</h4></th>
					<th><h4>Nafn</h4></th>
				</tr>
			</thead>
			<tbody>
				{% for teacher in data %}
					<tr>
						<td>{{ teacher.ssn }}</td>
						<td>{{ teacher.name }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
{% block script %}
	<script type='text/javascript'>
		var data = {{data|safe}};
		$( document ).on("click", "#save_data", function(){
			$.ajax({
				type: "POST",
				url: '',
				data: {
					'csrfmiddlewaretoken': '{{ csrf_token }}',
					'teachers': JSON.stringify(data),
				},
			});
		});
	</script>
{% endblock %}