.survey_resources {
    list-style-type: none;
}

.removeable {
	padding: 2px;
	margin-right: 2px;
}

span.selected {
	background: yellow;
	border: thin solid black;
	padding-left: 5px;
	padding-right: 5px;
}

.student-list{
	border: none;
}

ul {
    list-style-type:none;
    padding:0px;
    margin:0px;
}

.md-display li {
    list-style-type:disc;
}

.selected {
    background-color:#efefef;
}