.survey_resources {
    list-style-type: none;
}

.removeable {
	padding: 2px;
	margin-right: 2px;
}

span.selected {
	background: yellow;
	border: thin solid black;
	padding-left: 5px;
	padding-right: 5px;
}

.student-list{
	border: none;
}

ul.form_elements {
    list-style-type:none;
    padding:0px;
    margin:0px;
}

.form_elements li label {
    display: inline-block;
    width: 200px;
}

.align label {
    display: inline-block;
    width: 50px;
}

.md-display li {
    list-style-type:disc;
}

.selected {
    background-color:#efefef;
}

.small-message {
    max-height: 9em;    
}
.textarea {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    border: none;
    font: medium -moz-fixed;
    font: -webkit-small-control;
    height: 280px;
    overflow: none;
    padding: 2px;
    resize: none;
    width: 600px;
    white-space: pre-wrap;
}

.striped div.row:nth-child(even) {
    background:#efeff5;
}
.removeme {
    display: none;
}
@media print {
    .removeme {
        display: block;
        font-weight: 700;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    #survey_list > div.row > div {
        display: inline-block;
    }
    #survey_list .kt {
        width: 14%;
    }
    #survey_list .name {
        width: 30%;
    }
    #survey_list .support {
        width: 30%;
    }
    #survey_list .testcode {
        width: 20%;
    }
    .on-einstaklingsblod {
        display: block !important;
    }
    div.on-einstaklingsblod.student-testcode {
        page-break-after: always !important;
    }
}
