.survey_resources {
    list-style-type: none;
}

.removeable {
    margin-right: 2px;
    padding     : 2px;
}

span.selected {
    padding-right: 5px;
    padding-left : 5px;

    border       : thin solid black;
    background   : yellow;
}

span.click_values {
    padding-right: 5px;
    padding-left : 5px;
}

.student-list {
    border: none;
}

ul.form_elements {
    margin         :0;
    padding        :0;

    list-style-type:none;
}

.form_elements li label {
    display: inline-block;

    width  : 200px;
}

.align label {
    display: inline-block;
    width: 90px;
}

.md-display li {
    list-style-type:disc;
}

option.selected {
    background-color:#dadada;
}

.small-message {
    max-height: 9em;
}
.textarea {
    font              : medium -moz-fixed;
    font              : -webkit-small-control;

    overflow          : none;

    width             : 600px;
    height            : 280px;
    padding           : 2px;

    resize            : none;
    white-space       : pre-wrap;

    border            : none;

       -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
}

.striped div.row:nth-child(even) {
    background:#efeff5;
}
.removeme {
    display: none;
}
@media print {
    .removeme {
        font-weight: 700;

        display    : block;
    }
    a[href]:after {
        content: none !important;
    }
    #survey_list > div.row > div {
        display: inline-block;
    }
    #survey_list .kt {
        width: 14%;
    }
    #survey_list .name {
        width: 30%;
    }
    #survey_list .support {
        width: 30%;
    }
    #survey_list .testcode {
        width: 20%;
    }
    .on-einstaklingsblod {
        display: block !important;
    }
    div.on-einstaklingsblod.student-testcode {
        page-break-after: always !important;
    }
}
.group_students {
    background-color: white!important;
}
