@font-face {
    font-family: MinionPro;

    src        : url('/static/samraemd/css/fonts/MinionPro-Regular.otf') format('opentype');
}
@font-face {
    font-family: MinionPro;
    font-style : italic;

    src        : url('/static/samraemd/css/fonts/MinionPro-It.otf') format('opentype');
}
@font-face {
    font-family: MinionPro;
    font-weight: bolder;
    font-style : italic;

    src        : url('/static/samraemd/css/fonts/MinionPro-MediumIt.otf') format('opentype');
}
@font-face {
    font-family: Avenir;

    src        : url('/static/samraemd/css/fonts/Avenir-Roman.ttf') format('truetype');
}
@font-face {
    font-family: Avenir;
    font-weight: bolder;

    src        : url('/static/samraemd/css/fonts/Avenir-Medium.ttf') format('truetype');
}
@font-face {
    font-family: Avenir;
    font-weight: lighter;

    src        : url('/static/samraemd/css/fonts/Avenir-Light.ttf') format('truetype');
}
@font-face {
    font-family: Avenir;
    font-weight: bold;

    src        : url('/static/samraemd/css/fonts/Avenir-Heavy.ttf') format('truetype');
}
body {
    color     : #1075a3;
    background: #eaeaea;
}
page[size='A4'] {
    display      : block;

    width        : 210mm;
    margin       : 0 auto;
    margin-bottom: 5mm;
    padding      : 3em;

    background   : white;
    box-shadow   : 0 0 5mm rgba(0, 0, 0, .5);

    -webkit-print-color-adjust: exact;
}
@page {
    margin-top: 25mm;
}
@page :first {
    margin: 0;
    margin-bottom: 25mm;
}
.content {
    color : #000;
    margin: 1em 1em 1em 1em;
}
.content h3 {
    font-weight: bold;
}
.content-group-1, .content-group-2, .content-group-3, .content-group-4 {
    font-family: Helvetica;
}
.content-group-5, .content-group-6, .content-group-7, .content-group-8, .content-group-9, .content-group-10 {
    font-family: Calibri;
}
.content-group-1, .content-group-2 {
    font-size: 15pt;
}
.content-group-3 {
    font-size: 14pt;
}
.content-group-4, .content-group-5, .content-group-6, .content-group-7 {
    font-size: 13pt;
}
.content-group-8, .content-group-9, .content-group-10 {
    font-size: 12pt;
}
@media print {
    page {
        page-break-after: always !important;
    }
}
