{% csrf_token %}
{% for hidden in form.hidden_fields %}
	{{ hidden }}
{% endfor %}
{% for field in form.visible_fields %}
	<div class="form-group form-group-lg has-feedback{% if field.errors %} has-error{% endif %}">
		<label for="{{ field.name }}">{{ field.label }}</label>
		{{ field }}
	{% if field.errors %}
		<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
		<span class="sr-only">(villa)</span>
		<p class="text-danger">{{ field.errors.as_text }}</p>
	{% endif %}
	</div>
{% endfor %}