{% extends 'survey/index.html'%}

{% block content %}
<h1>Próf</h1>
<div>
	<a href="{% url 'survey:survey_create'%}" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span>Bæta við prófi</a>
	<a href="{% url 'survey:survey_type_create'%}" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span>Bæta við próftegund</a>
	<table id="school_list" class="table table-striped table-hover">
		<thead>
			<tr>
				<td><h4>Titill</h4></td>
				<td class="col-xs-2"><h4>Tegund</h4></td>
				<td class="col-xs-1"><h4>Ár</h4></td>
				<td class="col-xs-2"><h4>Virkt frá</h4></td>
				<td class="col-xs-2"><h4>Virkt til</h4></td>
				<td class="col-xs-1"><h4></h4></td>
			</tr>
		</thead>
		<tbody>
			{% for survey in survey_list|dictsort:"title" %}
			<tr>
				<td><a href="{% url 'survey:survey_detail' survey.id %}">{{survey.title}}</a></td>
				<td><a href="{% url 'survey:survey_type_update' survey.survey_type.id %}">{{survey.survey_type}}</a></td>
				<td>{{survey.student_year}}</td>
				<td>{{survey.active_from}}</td>
				<td>{{survey.active_to}}</td>
				<td>
					<div class="btn-group pull-right">
						<a href="{% url 'survey:survey_update' survey.id %}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil"></span></a>
						<a href="{% url 'survey:survey_delete' survey.id %}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></a>
					</div>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}