{% extends 'survey/index.html'%}

{% block content %}
<h1>Próf</h1>
<div>
	<div class="btn-group" role="group">
		<a href="{% url 'survey:survey_create' %}" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<span class="caret"></span>&nbsp;Bæta við prófi
		</a>
		<ul class="dropdown-menu">
			<li>
				<a href="{% url 'survey:survey_create'%}">
					<span class="glyphicon glyphicon-plus"></span>&nbsp;Bæta við prófi fyrir stakan árgang
				</a>
			</li>
			<li>
				<a href="{% url 'survey:survey_create_multi'%}">
					<span class="glyphicon glyphicon-plus"></span>&nbsp;Bæta við prófi fyrir marga árganga
				</a>
			</li>
		</ul>
	</div>
	<a href="{% url 'survey:survey_type_create'%}" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span>Bæta við próftegund</a>
	<table id="survey_list" class="table table-striped table-hover">
		<thead>
			<tr>
				<th><h4>Titill</h4></th>
				<th class="col-xs-2"><h4>Tegund</h4></th>
				<th class="col-xs-1"><h4>Ár</h4></th>
				<th class="col-xs-2"><h4>Virkt frá</h4></th>
				<th class="col-xs-2"><h4>Virkt til</h4></th>
				<th class="col-xs-1"><h4></h4></th>
			</tr>
		</thead>
		<tbody>
			{% for survey in survey_list|dictsortreversed:"id" %}
			<tr>
				<td><a href="{% url 'survey:survey_detail' survey.id %}">{{survey.title}}</a></td>
				<td><a href="{% url 'survey:survey_type_update' survey.survey_type.id %}">{{survey.survey_type}}</a></td>
				<td>{{survey.student_year}}</td>
				<td>{{survey.active_from}}</td>
				<td>{{survey.active_to}}</td>
				<td>
					<div class="btn-group pull-right">
						<a href="{% url 'survey:survey_update' survey.id %}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil"></span></a>
						<a href="{% url 'survey:survey_delete' survey.id %}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></a>
					</div>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
$(document).ready(function(){
	dataTable_settings["columnDefs"] = [
       { "type": 'icelandic-html', "targets": [0, 1] },
       { "type": 'dates', "targets": [3, 4] },
       { "targets": -1, "orderable": false }
    ];

	$('#survey_list').DataTable(dataTable_settings);
});
</script>
{% endblock %}