{% extends 'survey/index.html'%}

{% block content %}
<div class="row">
	<div class="col-md-9">
		<h1>{{surveytext.title}}</h1>
	</div>
	<div class="col-md-3">
		<a href="{% url 'survey:survey_text_update' survey.id surveytext.id %}" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Breyta</a>
		<a href="{% url 'survey:survey_text_delete' survey.id surveytext.id %}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span>&nbsp;Eyða</a>
	</div>
</div>
<div class="row">
	<div class="col-md-6 md">{{surveytext.text}}</div>
</div>
{% endblock %}