{% extends 'survey/index.html'%}

{% block content %}
<div class="row">
	<div class="col-xs-12">
		<h1>
		{{survey.title}}
		<div class="btn-group">
			<a href="{% url 'survey:survey_update' survey.id %}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span></a>
			<a href="{% url 'survey:survey_delete' survey.id %}" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash"></span></a>
		</div>
		</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-4 col-xs-12">
		<h4>Auðkenni: <small>{{survey.identifier}}</small></h4>
		<h4>Höfundur: <small>{{survey.created_by}}</small></h4>
		<h4>Búið til: <small>{{survey.created_at}}</small></h4>
		<h4>Virkt frá: <small>{{survey.active_from}}</small></h4>
		<h4>Virkt til: <small>{{survey.created_by}}</small></h4>
	</div>
	<div class="col-md-8 col-xs-12">
		<h4>Lýsing:</h4>
		<p>{{survey.description}}</p>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-md-3">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>
						<h4>
							Nánari upplýsingar 
							<a href="{% url 'survey:survey_resource_create' survey.id %}" class="btn btn-default btn-xs">
								<span class="glyphicon glyphicon-plus"></span>
							</a>
						</h4>
					</th>
				</tr>
			</thead>
			<tbody>
				{% for survey_resource in survey_resource_list %}
					<tr>
						<td><a href="{% url 'survey:survey_resource_detail' survey.id survey_resource.id %}" >{{survey_resource.title}}</a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="col-md-3">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>
						<h4>
							Prófviðmót
							{% if survey_template_list|length < 1 %}
								<a href="{% url 'survey:survey_template_create' survey.id %}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span></a>
							{% endif %}
						</h4>
					</th>
				</tr>
			</thead>
			<tbody>
				{% for survey_template in survey_template_list %}
					<tr>
						<td><a href="{% url 'survey:survey_template_detail' survey.id survey_template.id %}" >{{survey_template.title}}</a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="col-md-6">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>
						<h4>
							Innsláttarsvæði
							<a href="{% url 'survey:survey_input_group_create' survey.id %}" class="btn btn-default btn-xs">
								<span class="glyphicon glyphicon-plus"></span>
							</a>
						</h4>
					</th>
					<th>
						<h4><small>Fjöldi</small></h4>
					</th>
				</tr>
			</thead>
			<tbody>
				{% for survey_input_group in survey_input_field_groups %}
					<tr>
						<td><a href="{% url 'survey:survey_input_group_detail' survey.id survey_input_group.id %}" >{{survey_input_group.title}}</a></td>
						<td>{{survey_input_group.num_input_fields }} </td>
					</tr>
				{% endfor %}

			</tbody>
		</table>
	</div>

</div>
{% endblock %}