{% extends 'survey/index.html'%}

{% block content %}
<div class="row">
	<div class="col-md-9">
		<h1>
			{{surveyinputfield.input_group}}: {{surveyinputfield.name}}
			<div class="btn-group">
				<a href="{% url 'survey:survey_input_update' survey.id surveyinputfield.id %}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span></a>
				<a href="{% url 'survey:survey_input_delete' survey.id surveyinputfield.id %}" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash"></span></a>
			</div>
		</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-6 col-xs-12">
		<h3>Tæknilegt heiti: <small>{{ surveyinputfield.input_group.identifier }}_{{ surveyinputfield.name }}</small></h3>
		<h3>Sýnilegt heiti: <small>{{ surveyinputfield.label }}</small></h3>
	</div>
	<div class="col-md-6 col-xs-12">
		<h3>Lýsing</h3>
		<p>{{surveyinputfield.input_group.description}}</p>
	</div>
</div>
{% endblock %}