{% extends 'survey/index.html'%}

{% block content %}
<div class="row">
	<div class="col-md-9">
		<h1>
			{{surveyresource.title}}
			<div class="btn-group">
				<a href="{% url 'survey:survey_resource_update' survey.id surveyresource.id %}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span></a>
				<a href="{% url 'survey:survey_resource_delete' survey.id surveyresource.id %}" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash"></span></a>
			</div>
		</h1>
	</div>
</div>
<div class="row">
	{% if surveyresource.resource_html %}
	<div class="col-md-6 col-xs-12">
		<h3>Texti</h3>
		<div>
		{{surveyresource.resource_html|safe}}
		</div>
	</div>
	{% endif %}
	{% if surveyresource.resource_url %}
	<div class="col-md-6 col-xs-12">
		<h3>Hlekkur</h3>
		<p><a href="{{surveyresource.resource_url}}">{{surveyresource.resource_url}}</a></p>
	</div>
	{% endif %}
	<div class="col-md-6 col-xs-12">
		<h3>Lýsing</h3>
		<p class="md">{{surveyresource.description|safe}}</p>
	</div>
</div>
{% endblock %}