{% extends 'survey/index.html'%}

{% block content %}
<div class="row">
	<div class="col-md-3">
		<a href="{% url 'survey:survey_template_update' survey.id surveygradingtemplate.id %}" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Breyta</a>
		<a href="{% url 'survey:survey_template_delete' survey.id surveygradingtemplate.id %}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span>&nbsp;Eyða</a>
	</div>
</div>
<div class="row">
	<div class="col-md-2">HTML kóði</div>
	<div class="col-md-10 md">{{surveygradingtemplate.md|safe}}</div>
</div>
{% endblock %}