{% extends 'survey/index.html'%}
{% include staticfiles %}

{% block content %}
<div class="row">
	<div class="col-md-12 md_form">
		<form id="surveyresource_form" action="" method="post">
			{% csrf_token %}
			{% include 'survey/_generic_form.html' %}
			<input type="submit" value="Save" class="btn btn-lg btn-success" />
		</form>
	</div>
	<div class="col-md-12" md_form>
	<p>* - <i>Notið annaðhvort Vefslóð eða Meginmál</i></p>
	</div>
</div>
{% endblock %}

{% block script %}
	{{ form.media }}
{% endblock %}