{% extends 'survey/index.html'%}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<h1>
			{{surveyinputgroup.title}}
			<div class="btn-group">
				<a href="{% url 'survey:survey_input_group_update' survey.id surveyinputgroup.id %}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span></a>
				<a href="{% url 'survey:survey_input_group_delete' survey.id surveyinputgroup.id %}" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash"></span></a>
			</div>
		</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-6 col-xs-12">
		<h3>Innsláttarsvæði</h3>
		<table class="table table-hover table-striped">
			<thead>
				<tr>
					<th>Heiti</th>
					<th>Kenni</th>
					<th>Sjálfgefið</th>
					<th class="col-xs-2"></th>
				</tr>
			</thead>
			<tbody>
				{% for survey_input in surveyinputgroup.input_fields %}
					<tr>
						<td>{{survey_input.label}}</td>
						<td>{{survey_input.get_id}}</td>
						<td>{{survey_input.default_value}}</td>
						<td>
							<a href="{% url 'survey:survey_input_update' survey.id survey_input.id %}" class="btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-pencil"></span></a>&nbsp;<a href="{% url 'survey:survey_input_delete' survey.id survey_input.id %}" class="btn btn-danger btn-xs pull-right"><span class="glyphicon glyphicon-trash"></span></a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="col-md-6 col-xs-12">
		<h3>Lýsing</h3>
		<p>{{surveyinputgroup.description}}</p>
	</div>
</div>
{% endblock %}