/bin
/include
/lib
/lib64
/share
/env
/venv
/public
*/migrations/
db.sqlite3
env.sh
pyvenv.cfg
*.pyc
*.sublime-workspace
*.sublime-project
pip-selfcheck.json
.DS_Store
/skolagatt/production_settings.py
/skolagatt/lib
/skolagatt/lib64
/skolagatt/share
/skolagatt/bin
*.swp
/*.json
/backup
uploads/
celerybeat-schedule
celerybeat.pid
/.coverage
/coverage.xml
/cc-test-reporter
