{% extends 'common/index.html'%}

{% block content %}
<h3>Prófadæma spurning {{ answer.question.quickcode }}</h3>
<div class="row">
	<a href="{% url 'schools:example_survey_answer_admin_delete' answer.id %}" class="btn btn-default">
		<span class="glyphicon glyphicon-trash"></span>&nbsp;Eyða
	</a>
</div>
<div>
	<table class="table">
		<thead>
			<tr>
				<th>Svið</th>
				<th>Gildi</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Nafn</td>
				<td>{{ answer.student.name }}</td>
			</tr>
			<tr>
				<td>Kennitala</td>
				<td>{{ answer.student.ssn }}</td>
			</tr>
			<tr>
				<td>Próf</td>
				<td>
				{% if answer.groupsurvey %}
					{{ answer.groupsurvey.survey.title }} ({{ answer.groupsurvey.survey.identifier }})
				{% else %}
					{{ answer.exam_code }}
				{% endif %}
				</td>
			</tr>
			<tr>
				<td>Svar</td>
				<td>
				{% if answer.answer %}
					<span class="glyphicon glyphicon-ok" style="color:green"></span>&nbsp;
				{% else %}
					<span class="glyphicon glyphicon-remove" style="color:red"></span>&nbsp;
				{% endif %}
				</td>
			</tr>
			<tr>
				<td>Flýtikóði spurningar</td>
				<td>{{ answer.question.quickcode }}</td>
			</tr>
			<tr>
				<td>Lýsing spurningar</td>
				<td>{{ answer.question.description }}</td>
			</tr>
			<tr>
				<td>Dæmi</td>
				<td>{{ answer.question.example|safe }}</td>
			</tr>
		</tbody>
	</table>
</div>
{% endblock %}