{% extends 'common/index.html'%}

{% block content %}
<h3>Prófadæmi</h3>
{% for survey, student_list in surveys %}
<div>
	<h4>{{ survey.survey.title }}</h4>
	<table class="table table-hover table-striped">
		<thead>
			<tr>
				<th>Kennitala</th>
				<th>Nafn</th>
				<th>STÆ</th>
				<th>ENS</th>
				<th>ÍSL</th>
			</tr>
		</thead>
		<tbody>
			{% for student, quiz_types in student_list %}
			<tr>
				<td>{{ student.ssn }}</td>
				<td>{{ student.name }}</td>
				<td>
				{% if 'STÆ' in quiz_types %}
					<a href="{% url 'schools:example_survey_detail' school.id survey.id student.id 'STÆ' %}">
						<span class="glyphicon glyphicon-eye-open style="color:green"></span>&nbsp;
					</a>
				{% else %}
					<span class="glyphicon glyphicon-remove" style="color:red"></span>&nbsp;
				{% endif %}
				</td>
				<td>
				{% if 'ENS' in quiz_types %}
					<a href="{% url 'schools:example_survey_detail' school.id survey.id student.id 'ENS' %}">
						<span class="glyphicon glyphicon-eye-open style="color:green"></span>&nbsp;
					</a>
				{% else %}
					<span class="glyphicon glyphicon-remove" style="color:red"></span>&nbsp;
				{% endif %}
				</td>
				<td>
				{% if 'ÍSL' in quiz_types %}
					<a href="{% url 'schools:example_survey_detail' school.id survey.id student.id 'ÍSL' %}">
						<span class="glyphicon glyphicon-eye-open style="color:green"></span>&nbsp;
					</a>
				{% else %}
					<span class="glyphicon glyphicon-remove" style="color:red"></span>&nbsp;
				{% endif %}
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endfor %}

{% endblock %}