{% extends 'common/index.html'%}

{% block content %}

{% if samraemd %}
	<h3>Hrágögn úr samræmdum prófum</h3>
	{% for date, studentgroups_list in samraemd %}
	<div class="row">
		<h3>{{ date.year }}</h3>
		{% for studentgroup, student_list in studentgroups_list %}
			<div class="row"><h4>{{ studentgroup.name }}</h4></div>
			<table class="table">
				<tbody>
					<tr>
						<td>Prenthæf hrágagnablöð</td>
						{% for cat in samraemd_cats %}
						<td><a href="{% url 'schools:example_survey_samraemd_multi_print' school.id date.year studentgroup.id cat %}" class="btn btn-default">
               			<span class="glyphicon glyphicon-print">
               			</span>&nbsp;{% if cat == 'STÆ' %}Stærðfræði{% elif cat == 'ÍSL' %}Íslensku{% elif cat == 'ENS' %}Ensku{% else %}{{ cat }}{% endif %}hluti</a>
						</td>
						{% endfor %}
					</tr>
				</tbody>
			</table>
			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th class="col-md-3">Kennitala</th>
						<th class="col-md-6">Nafn</th>
						{% for cat in samraemd_cats %}
							<th class="col-md-1">{{ cat }}</th>
						{% endfor %}
					</tr>
				</thead>
				<tbody>
					{% for student, quiz_types, exceptions in student_list %}
					<tr>
						<td>{{ student.ssn }}</td>
						<td>{{ student.name }}</td>
						{% for cat in samraemd_cats %}
							<td>
							{% if cat in quiz_types %}
								<a href="{% url 'schools:example_survey_samraemd_detail' school.id date.year student.id cat %}">
									<span class="glyphicon glyphicon-eye-open"></span>&nbsp;
								</a>
							{% else %}
								{% if cat in exceptions %}
									<span class="glyphicon glyphicon-asterisk" style="color:green"></span>&nbsp;
								{% else %}
									<span class="glyphicon glyphicon-remove" style="color:red"></span>&nbsp;
								{% endif %}
							{% endif %}
							</td>
						{% endfor %}
					</tr>
					{% endfor %}
				</tbody>
				<tfoot>
					<tr>
						<td colspan="0">
						Útskýringar:
						<span class="glyphicon glyphicon-asterisk" style="color:green"></span>&nbsp;Undanþága,
						<span class="glyphicon glyphicon-remove" style="color:red"></span>&nbsp;Niðurstöðu vantar
						</td>
					</tr>
				</tfoot>
			</table>
		{% endfor %}

	</div>
	{% endfor %}
{% endif %}

{% if surveys %}
	<h3>Hrágögn úr almennum prófum</h3>
	{% for survey, student_list in surveys %}
	<div>
		<h4>{{ survey.survey.title }}</h4>
		<table class="table table-hover table-striped">
			<thead>
				<tr>
					<th>Kennitala</th>
					<th>Nafn</th>
					<th>Aðgerðir</th>
				</tr>
			</thead>
			<tbody>
				{% for student, quiz_types in student_list %}
				<tr>
					<td>{{ student.ssn }}</td>
					<td>{{ student.name }}</td>
					<td>
					<a href="{% url 'schools:example_survey_groupsurvey_detail' school.id survey.id student.id %}">
								<span class="glyphicon glyphicon-eye-open style="color:green"></span>&nbsp;
							</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	{% endfor %}
{% endif %}
{% if not surveys and not samraemd %}
<div>
	<h4>Engin hrágögn fundust</h4>
</div>
{% endif %}
{% endblock %}