{% extends 'common/index.html'%}

{% block content %}
<h3>Prófadæma spurning {{ question.quickcode }}</h3>
<div class="row">
	<a href="{% url 'schools:example_survey_question_admin_delete' question.id %}" class="btn btn-default">
		<span class="glyphicon glyphicon-trash"></span>&nbsp;Eyða
	</a>
</div>
<div>
	<table class="table">
		<thead>
			<tr>
				<th>Svið</th>
				<th>Gildi</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Flýtikóði</td>
				<td>{{ question.quickcode }}
			</tr>
			<tr>
				<td>Próftegund</td>
				<td>{{ question.quiz_type }}</td>
			</tr>
			<tr>
				<td>Spurningaflokkur</td>
				<td>{{ question.category }}</td>
			</tr>
			<tr>
				<td>Lýsing</td>
				<td>{{ question.description }}</td>
			</tr>
			<tr>
				<td>Dæmi</td>
				<td>{{ question.example|safe }}</td>
			</tr>
		</tbody>
	</table>
</div>
{% endblock %}