{% extends 'second_base.html'%}
{% load staticfiles %}
{% block stylesheet %}
    <link href="{% static 'schools/css/example_survey_samraemd_detail_print.css' %}" rel="stylesheet">
    <meta name="name" content="content">
{% endblock %}

{% block content %}
<page size="A4">
    <div class="outer-border">
        <img src="{% static 'img/logo-3litur.png'%}" class="img-responsive mms-logo"/>
        <h1 class="text-center">Samræmd könnunarpróf - Prófdæmi</h1>
        <div class="row headinfo">
            <div class="info col-xs-6">
                <h2 class="text-center">
                {% if quiz_type == 'STÆ' %}
                    Stærðfræði
                {% elif quiz_type == 'ÍSL' %}
                    Íslenska
                {% elif quiz_type == 'ENS' %}
                    Enska
                {% endif %}
                </h2>
            </div>
        </div>
        <div class="table-container">
            <table class="table" id="example_survey_question_list">
                <thead>
                    <tr>
                        <th>Flýtikóði</th>
                        <th>Flokkur</th>
                        <th>Lýsing</th>
                        <th>Dæmi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for question in questions %}
                    <tr>
                        <td>{{question.quickcode}}</td>
                        {% if question.category == 'RA' %}
                            <td>Reikningur og aðgerðir</td>
                        {% elif question.category == 'RM' %}
                            <td>Rúmfræði</td>
                        {% elif question.category == 'TT' %}
                            <td>Tölur og talnaskilningur</td>
                        {% elif question.category == 'AL' %}
                            <td>Algebra</td>
                        {% elif question.category == 'HP' %}
                            <td>Hlutföll og prósentur</td>
                        {% elif question.category == 'LE' %}
                            <td>Lesskilningur</td>
                        {% elif question.category == 'MN' %}
                            <td>Málnotkun</td>
                        {% else %}
                            <td>{{ question.category }}</td>
                        {% endif %}
                        <td>{{question.description}}</td>
                        <td>{{question.example|safe}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">
                            <p class="footer text-center col-xs-12">Menntamálastofnun - Víkurhvarfi 3 - 203 Kópavogi</p>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</page>
{% endblock %}
