{% extends 'common/index.html' %}

{% block content %}
<div class="row">
	<div class="row">
		<h1>Samræmd könnunarpróf</h1>
	</div>
	<div class="row">
		<div class="col-md-6">{{ school.name }}</div>
		<div class="col-md-6">{{ student.ssn }}</div>
	</div>
	<div class="row">
		<div class="col-md-6">
		{{ groupsurvey.survey.title }}
		{{ studentgroup.name }}
		</div>
		<div class="col-md-6">{{ student.name }}</div>
	</div>
</div>
<div style="margin-top: 3em;">
	<table class="table table-hover table-striped">
		<thead>
			<tr>
				<th class="col-md-1">Kóði</th>
				<th class="col-md-1">Svar</th>
				<th class="col-md-1">Flokkur</th>
				<th class="col-md-4">Lýsing</th>
				<th class="col-md-5">Dæmi</th>
			</tr>
		</thead>
	<tbody>
	{% for answer in answers %}
		<tr>
			<td>{{ answer.question.quickcode }}</td>
			<td><strong>
			{% if answer.answer %}
				1
			{% else %}
				0
			{% endif %}
			</strong></td>
			<td>{{ answer.question.category }}</td>
			<td>{{ answer.question.description }}</td>
			<td>{{ answer.question.example|safe }}
		</tr>
	{% endfor %}
	</tbody>
	</table>
</div>
{% endblock %}