body {
  	font-family: "Open Sans", "sans-serif";
}
div.wrapper {
	min-height: 100vh;
	position: relative;
}
.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	font-family: "Open Sans", "sans-serif";
	text-transform: uppercase;
}
#navbar {
	width: 1170px;
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.navbar-default .navbar-nav>li {
	border-right: 1px solid rgba(0,0,0,0.1);
}
.navbar-default .navbar-nav>li:first-child {
	border-left: 1px solid rgba(0,0,0,0.1);
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand {
	color: #eee;
	text-align: center;
}
.navbar-default .navbar-nav>li>a:focus{
	color: #eee;
}
.navbar-default .navbar-nav>li>a:hover{
	background-color: rgba(255,255,255,0.2);
}
.navbar-brand {
	position: absolute;
	left: 20px;
	bottom: 5px;
	font-size: 16pt;
}
div.main {
	margin-top: 80px;
	clear: both;
	padding-bottom: 320px;
}
div.footer {
	position: absolute;
	bottom: 0;
	height: 300px;
	background-color: #333;
	width: 100%;
	padding: 20px auto;
	margin: 10px 0 0 0;
	color: #bbb;
	clear: both;
}
div.footer a {
	text-decoration: none;
	color: #fff;
}
div.footer div.contact {
	padding: 2em 0 1em 0;
	font-size: 14pt;
}
div.footer hr {
	border-color: #666;
}
div.footer strong {
	color: #fff;
}

@media (min-width: 768px) {
	.navbar-nav>li>a {
		padding-top: 30px;
		padding-bottom: 6px;
	}
}