#survey_form ul,
#surveydata_form ul,
#surveytext_form ul,
#surveyresource_form ul,
#surveygradingtemplate_form ul{
    list-style-type: none;
}

#survey_form label,
#surveydata_form label,
#surveytext_form label,
#surveyresource_form label,
#surveygradingtemplate_form label {
    display: inline-block;
    width: 100px;
}