{% extends "base.html" %}
{% load staticfiles %}



{% block content %}
<script>
	var exam = [];
	var reason = [];
	
	var pagetype = "exceptions";
	
	exam={{exceptions.exam}};
	reason.push({{exceptions.reason}});
</script>
<form action="" method="post" id="exception">{% csrf_token %}


Nemandi: {{student.ssn}} {{student.name}} {{studentgroup.student_year}}     Bekkur: {{studentgroup.name}}     Prófstofa:

Minnispunktar um skráninguna:
	<textarea rows="5" cols="50" id="notes" name="notes">{{studentmorinfo.notes}}</textarea>


Undanþágur
Athugið að Námsmatsstofnun veitir ekki undanþágur. En ber að skrá ástæðu þess að nemandi er fjarverandi á prófdegi. Hægt er að skrá og afskrá hér samkvæmt mati foreldra og kennara hverju sinni. Skólinn varðveitir umsóknarbeiðnina.
<table>
	<tr>
		{% for exam_text in form.exam %}
			<th>{{ exam_text.choice_label }}</th>
		{% endfor %}
	</tr>
	<tr name="exam" id="exam">
		{% for exam_text in form.exam %}
			<td>{{ exam_text.tag }}</td>
		{% endfor %}
		
	</tr>
</table>
<div>
<b>
Ástæða undanþágubeiðnar, merkið við
</b>
</div>
<table name="reason_radio" id="reason_radio">
	{% for reason_text in form.reason %}
	<tr>
	<td>
	{{reason_text}}
	</td>
	</tr>
	{% endfor %}
</table>
<b>Skýring með umsókn</b>


<textarea rows="5" cols="50" name="explanation">{{exceptions.explanation}}</textarea>
{% if exceptions.signature == null %}
Netfang sendanda:{{exceptions.signature}}


Skráð:{{exceptions.date}}
{% endif %}

<button class="btn btn-default" type="submit" value="exceptionsave" name="submit">Vista beiðni um undanþágu</a>
      
<button class="btn btn-default" type="submit" value="exceptiondelete" name="submit">Eyða beiðni um undanþágu</a>
</form>
{% endblock %}

{% block script %}
<script src='{% static "supportandexception/js/supportandexception.js" %}'></script>
{% endblock %}