{% extends "base.html" %}

{% block content %}
<h1>Stuðningsúrræði</h1>
<div >
	<table id="student_list" class="table table-hover">
		<thead>
			<th>Kennitala</th>
			<th>nafn</th>
		</thead>
		{% for support in studentssupport %}
		<tr >
			<td>{{support.student.ssn}}</td><td>{{support.student.name}}</td>
		</tr>
		{% endfor %}

	</table>
	<h1>undanþágur</h1>
	<table id="student_list" class="table table-hover">
		<thead>
			<th>Kennitala</th>
			<th>nafn</th>
		</thead>
		{% for support in studentsexception %}
		<tr >
			<td>{{support.student.ssn}}</td><td>{{support.student.name}}</td>
		</tr>
		{% endfor %}

	</table>
</div>
{% endblock %}

