{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<script>
	var pagetype = "supportresource";
	var reading_assistance = {% if supportresource.reading_assistance == True %} true{% else %} false{% endif %};
	var interpretation = {% if supportresource.interpretation == True %} true{% else %} false{% endif %};
	var longer_time = {% if supportresource.longer_time == True %} true{% else %} false{% endif %};
</script>

{% if groupsurvey.can_add_support_and_exception %}
	<form action="" method="post">{% csrf_token %}
		<div class="row">
			<div class="col-md-4">
				<h4>Nafn</h4>
				<h4>{{student.name}}</h4>
			</div>
			<div class="col-md-4">
				<h4>Kennitala</h4>
				<h4>{{student.ssn}}</h4>
			</div>
			<div class="col-md-4">
				<h4>Próf</h4>
				<h4>{{groupsurvey.survey.title}}</h4>
		</div>

		<hr/>

		<div class="col-md-12">
			<h4>Stuðningsúrræði</h4>
		</div>

		<div class="row">
			<div class="form-group col-md-12">
				{{ form.reading_assistance }}
				<label for="{{ form.reading_assistance.name }}">{{ form.reading_assistance.label }}</label>
				{% if form.reading_assistance.errors %}
			    	<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
				    <span id="inputError2Status" class="sr-only">(villa)</span>
				    <p class="text-danger">{{ form.reading_assistance.errors.as_text }}</p>
			    {% endif %}
			</div>
		</div>
		<div class="row">
			<div class="form-group col-md-12">
				{{ form.interpretation }}
				<label for="{{ form.interpretation.name }}">{{ form.interpretation.label }}</label>
				{% if form.interpretation.errors %}
			    	<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
				    <span id="inputError2Status" class="sr-only">(villa)</span>
				    <p class="text-danger">{{ form.interpretation.errors.as_text }}</p>
			    {% endif %}
			</div>
		</div>
		<div class="row">
			<div class="form-group col-md-12">
				{{ form.longer_time }}
				<label for="{{ form.longer_time.name }}">{{ form.longer_time.label }}</label>
				{% if form.longer_time.errors %}
			    	<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
				    <span id="inputError2Status" class="sr-only">(villa)</span>
				    <p class="text-danger">{{ form.longer_time.errors.as_text }}</p>
			    {% endif %}
			</div>
		</div>

		<hr/>

		{% if supportresource.student.id == student.id %}
		<div class="row">
			<div class="col-md-3 col-md-offset-3">
				<b>Skráð:</b>{{supportresource.supportresourcesignature}}
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-md-offset-3">
				<b>Skráir:</b>{{supportresource.supportresourcedate|date:"d-m-Y"|lower}}
			</div>
		</div>
		{% endif %}

		<div class="row">
			{% if  is_school_manager %}
			<button class="btn btn-success" type="submit" value="supportsave" name="submit">Vista beiðni um stuðningsúrræði</button>
			<button class="btn btn-danger" type="submit" value="supportdelete" name="submit">Eyða beiðni um stuðningsúrræði</button>
			{% else %}
			<button class="btn btn-success" type="submit" value="supportgothrough" name="submit">Til baka</button>
			{% endif %}
		</div>

	</form>
{% else %}
	<div class="row">
		Skráningartími fyrir stuðningsúrræði er liðinn.
	</div>
{% endif %}
{% endblock %}
{% block script %}
<script src='{% static "supportandexception/js/supportandexception.js" %}'></script>
{% endblock %}
