<div class="footer">
	<div class="container">
		<section class="auto-clear row">
			<div class="col-md-4 contact sub-section">
				<span class="col-xs-10">
					<a href="mailto:skolagatt@mms.is"><span class="glyphicon glyphicon-envelope"></span>&nbsp;Hafðu samband</a>
				</span>
			</div>
		</section>
		<hr>
		<section class="auto-clear row">
			<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 sub-section">
				<p class="lay-mb--z col-xs-12">
					<span><strong>Menntamála­stofnun</strong></span><br>
					Víkurhvarfi 3<br>
					203 Kópavogi<br>
					Kt. 570815-0320
				</p>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 cmp-footer__icon sub-section">
				<i class="bold iconfont iconfont-iphone col-xs-2"></i>
				<span class="col-xs-10">
					<p>Sími</p>
					<p class="lay-mb--z"><a href="tel:5147500" class="link-unstyled"><strong>514-7500</strong></a></p>
				</span>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 cmp-footer__icon sub-section">
				<i class="bold iconfont iconfont-clock col-xs-2"></i>
				<span class="col-xs-10">
					<p>Opnunartími</p>
					<p class="lay-mb--z"><strong>08:30 - 15:30</strong></p>
				</span>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 cmp-footer__icon sub-section">
				<i class="bold iconfont iconfont-email col-xs-2"></i>
				<span class="col-xs-10">
					<p>Netfang</p>
					<p class="lay-mb--z"><a href="mailto:postur@mms.is" class="link-unstyled"><strong>postur(hjá)mms.is</strong></a></p>
				</span>
			</div>
		</section>
		<hr>
		<section>
			<p class="text-center">© 2016 Allur réttur áskilinn</p>
		</section>
	</div>
</div>