{% extends 'common/index.html'%}

{% block content %}
<div class="row not-on-einstaklingsblod">
	<div class="col-md-6">
		<h3>Niðurstöður nemenda</h3>
		<h4>{{exam_code}}</h4>
	</div>
	<div class="col-md-6 hidden-print">
		<a href="einkunnablod" class="btn btn-default" target="_blank">Prentvæn einkunnablöð</a>
	</div>
</div>
<div>
	<div class="row">
		{% for student, results in student_results.items %} 
			<h3>{{student}}</h3>
			{% for result in results %}
				{% if result.le_se %}
				<table class="table table-striped table-bordered table-hover table-responsive">
					<thead class="thead-default">
						<tr>
							<th colspan="4">Samræmd einkunn</th>
							<th colspan="4">Raðeinkunn</th>
							<th colspan="4">Grunnskólaeinkunn</th>
							<th colspan="2">Framfaraeinkunn</th>
						</tr>
						<tr>
							<th>Lestur</th>
							<th>Málnotkun</th>
							<th>Ritun</th>
							<th>Heild</th>
							<th>Lestur</th>
							<th>Málnotkun</th>
							<th>Ritun</th>
							<th>Heild</th>
							<th>Lestur</th>
							<th>Málnotkun</th>
							<th>Ritun</th>
							<th>Heild</th>
							<th>Framfaraflokkur</th>
							<th>Framfaratexti</th
						</tr>				
					</thead>
					<tbody>
						<tr>
							<td>{{ result.le_se }}</td>
							<td>{{ result.mn_se }}</td>
							<td>{{ result.ri_se }}</td>
							<td>{{ result.se }}</td>
							<td>{{ result.le_re }}</td>
							<td>{{ result.mn_re }}</td>
							<td>{{ result.ri_re }}</td>
							<td>{{ result.re }}</td>
							<td>{{ result.le_sg }}</td>
							<td>{{ result.mn_sg }}</td>
							<td>{{ result.ri_sg }}</td>
							<td>{{ result.sg }}</td>
							<td>{{ result.fm_fl }}</td>
							<td>{{ result.fm_txt }}</td>
						</tr>
					</tbody>
				</table>
				{% else %}
				<table class="table table-striped table-bordered table-hover table-responsive">
					<thead class="thead-default">
						<tr>
							<th colspan="4">Samræmd einkunn</th>
							<th colspan="4">Raðeinkunn</th>
							<th colspan="4">Grunnskólaeinkunn</th>
							<th colspan="2">Framfaraeinkunn</th>
							<th></th>
						</tr>
						<tr>
							<th>Reikningur og aðgerðir</th>
							<th>Rúmfræði og mælingar</th>
							<th>Tölur og talnaskilningur</th>
							<th>Heild</th>
							<th>Reikningur og aðgerðir</th>
							<th>Rúmfræði og mælingar</th>
							<th>Tölur og talnaskilningur</th>
							<th>Heild</th>
							<th>Reikningur og aðgerðir</th>
							<th>Rúmfræði og mælingar</th>
							<th>Tölur og talnaskilningur</th>
							<th>Heild</th>
							<th>Framfaraflokkur</th>
							<th>Framfaratexti</th>
							<th>Orðadæmi og talnadæmi</th>
						</tr>				
					</thead>
					<tbody>
					<tr>
						<td>{{ result.ra_se }}</td>
						<td>{{ result.rm_se }}</td>
						<td>{{ result.tt_se }}</td>
						<td>{{ result.se }}</td>
						<td>{{ result.ra_re }}</td>
						<td>{{ result.rm_re }}</td>
						<td>{{ result.tt_re }}</td>
						<td>{{ result.re }}</td>
						<td>{{ result.ra_sg }}</td>
						<td>{{ result.rm_sg }}</td>
						<td>{{ result.tt_sg }}</td>
						<td>{{ result.sg }}</td>
						<td>{{ result.fm_fl }}</td>
						<td>{{ result.fm_txt }}</td>
						<td>{{ result.ord_talna_txt }}</td>
					</tr>
					</tbody>
				</table>
				{% endif %}
			{% endfor %}
		{% endfor %}
	</div>
</div>
<script type="text/javascript">
	function printEinstaklingsblod() {
		$('.not-on-einstaklingsblod').addClass('hidden-print');
		$('.student-testcode').addClass('on-einstaklingsblod').prepend('<span class="removeme">Prófkóði: </span>');
		$('.student-kt').addClass('on-einstaklingsblod').prepend('<span class="removeme">Kennitala: </span>');
		$('.student-name').addClass('on-einstaklingsblod').prepend('<span class="removeme">Nafn: </span>');
		window.print();
		$('.removeme').remove();
		$('.on-einstaklingsblod').removeClass('on-einstaklingsblod');
		$('.not-on-einstaklingsblod').removeClass('hidden-print');
		$('.student-testcode').css('page-break-after','auto');
	}
</script>
{% endblock %}