{% extends 'common/index.html'%}

{% block content %}
<div class="row ">
	<div class="col-md-6">
		<h3>Niðurstöður nemenda</h3>
		
	</div>
	<div class="col-md-6 hidden-print">
		{% if school.id %}
			<a href="{% url 'samraemd:result_raw_print' school.id year group %}" class="btn btn-default" target="_blank">Prentvæn einkunnablöð</a>
			<a href="{% url 'samraemd:result_raw_excel' school.id year group %}" class="btn btn-default" target="_blank">Excel</a>
		{% else %}
			<a href="{% url 'samraemd:admin_result_raw_print' exam_code year group %}" class="btn btn-default" target="_blank">Prentvæn einkunnablöð</a>
			<a href="{% url 'samraemd:admin_result_raw_excel' exam_code year group %}" class="btn btn-default" target="_blank">Excel</a>
		{% endif %}
	</div>
</div>
<div>

	{% for value in loop_times %}
		<h4>{{ value.exam_name }}</h4>
		<div class="table-responsive">
			<table class="table table-striped table-bordered table-hover table-responsive">
				<thead class="thead-default">
					<tr>
						<th>Skóli</th>
						<th>Kennitölur</th>
						<th>Nafn</th>
						<th>Bekkur</th>
						{% for student, results in student_results.items %}
							{% if forloop.counter0 == 0 %}
								{% with val=results|first %}
									{% for k, v in val.result_data.items|dictsort:"0.lower" %}
										<th>{{v.id}}</th>
									{% endfor %}
								{% endwith %}
							{% endif %}
						{% endfor %}
					</tr>
				</thead>
				<tbody>
					{% for student, results in student_results.items %}
						{% for result in results %}
							{% if result.exam_code == value.exam_code %}
								<tr>
									{% for gstudent, groups in student_group.items %}
										{% if student == gstudent%}
											{% for group in groups %}
												<td>{{group.school.name}}</td>
											{%endfor%}
										{% endif %}
									{%endfor%}
									<td>{{ student.ssn }}</td>
									<td>{{ student }}</td>
									{% for gstudent, groups in student_group.items %}
										{% if student == gstudent%}
											{% for group in groups %}
												<td>{{group}}</td>
											{%endfor%}
										{% endif %}
									{%endfor%}
									{% for key, val in result.result_data.items|dictsort:"0.lower" %}
									<td>{{val.value}}</td>
									{% endfor %}
								</tr>
							{% endif %}
						{% endfor %}
						
					{% endfor %}
				</tbody>
			</table>
		</div>
	{%endfor%}
</div>
<script type="text/javascript">
	function printEinstaklingsblod() {
		$('.not-on-einstaklingsblod').addClass('hidden-print');
		$('.student-testcode').addClass('on-einstaklingsblod').prepend('<span class="removeme">Prófkóði: </span>');
		$('.student-kt').addClass('on-einstaklingsblod').prepend('<span class="removeme">Kennitala: </span>');
		$('.student-name').addClass('on-einstaklingsblod').prepend('<span class="removeme">Nafn: </span>');
		window.print();
		$('.removeme').remove();
		$('.on-einstaklingsblod').removeClass('on-einstaklingsblod');
		$('.not-on-einstaklingsblod').removeClass('hidden-print');
		$('.student-testcode').css('page-break-after','auto');
	}
</script>
{% endblock %}
