{% extends 'second_base.html'%}
{% load staticfiles %}
{% block stylesheet %}
<style>
	@font-face {
		font-family: MinionPro;
		src: url("/static/samraemd/css/fonts/MinionPro-Regular.otf") format("opentype");
	}
	@font-face {
		font-family: MinionPro;
		font-style: italic;
		src: url("/static/samraemd/css/fonts/MinionPro-It.otf") format("opentype");
	}
	@font-face {
		font-family: MinionPro;
		font-weight: bolder;
		font-style: italic;
		src: url("/static/samraemd/css/fonts/MinionPro-MediumIt.otf") format("opentype");
	}
	@font-face {
		font-family: Avenir;
		src: url("/static/samraemd/css/fonts/Avenir-Roman.ttf") format("truetype");
	}
	@font-face {
		font-family: Avenir;
		font-weight: bolder;
		src: url("/static/samraemd/css/fonts/Avenir-Medium.ttf") format("truetype");
	}
	@font-face {
		font-family: Avenir;
		font-weight: lighter;
		src: url("/static/samraemd/css/fonts/Avenir-Light.ttf") format("truetype");
	}
	@font-face {
		font-family: Avenir;
		font-weight: bold;
		src: url("/static/samraemd/css/fonts/Avenir-Heavy.ttf") format("truetype");
	}
	body {
		background: #EAEAEA;
		color: #1075a3;
	}
	page[size="A4"] {
	    -webkit-print-color-adjust: exact;
	    background: white;
	    width: 210mm;
	    height: 291.9mm;
	    display: block;
	    margin: 0 auto;
	    margin-bottom: 5mm;
	    padding: 3em;
	    box-shadow: 0 0 5mm rgba(0, 0, 0, 0.5);
	}
	@page {
        margin: 0;
    }
	.outer-border {
		border: solid 3px #1075a3;
		padding: 2px;
		margin-top: 2%;
		height: 96%;
	}
	.inner-border {
		border: solid 1px #1075a3;
		height: 100%;
	}
	h1 {
		font-family: MinionPro;
		font-size: 36pt;
		font-style: italic;
		font-weight: bolder;
		padding-top: 1em;
	}
	h2 {
		font-family: Avenir;
		font-size: 18pt;
		margin: 0;
	}
	h3 {
		font-family: MinionPro;
		font-size: 24pt;
		font-style: italic;
		color: #000;
		padding-top: 1em;
	}
	h4 {
		font-family: Avenir;
		font-weight: lighter;
		font-size: 12pt;
		color: #000;
		margin: 1em;
	}
	strong {
		font-weight: 900;
	}
	.info {
		padding: 1em 0 2em 2em;
		font-family: Avenir;
		font-weight: lighter;
		font-size: 12pt;
		color: #000;
	}
	td {
		border: none !important;
		vertical-align: middle !important;
		padding: 0 0 0.4em 0 !important;
		font-family: Avenir;
	}
	td:not(:first-child) {
		text-align: center;
	}
	.thead td {
		font-size: 12pt;
		font-weight: bolder;
	}
	.thead-subject td {
		font-size: 14pt;
		font-weight: bold;
	}
	.tbody td {
		font-size: 12pt;
		color: #000;
	}
	.table-container {
		padding: 2em;
	}
	.mms-logo {
		margin: 0 auto;
		padding-top: 20px;
		width: 20%
	}
	.footer {
		font-family: Avenir;
		padding-top: 1em;
	}
	.backside {
		color: #000;
		font-family: Avenir;
		font-size: 11pt;
		padding-top: 6em;
	}
	.backside li {
		list-style: none;
		padding: 0.3em 0;
	}
	@media print {
	  h1, h2, .thead>td, .thead-subject>td{
	    color: #1075a3 !important;
	  }
	}
</style>
{% endblock %}
{% block content %}
{% for student, results in student_results.items %}
<page size="A4">
	<div class="outer-border">
		<div class="inner-border">
			<img src="{% static 'img/logo-3litur.png'%}" class="img-responsive mms-logo"/>
			<h1 class="text-center">Samræmd könnunarpróf</h1>
			<h2 class="text-center">{{student.group.student_year}}. bekkur</h2>
			<div class="student col-xs-12">
				<h3 class="text-center">{{student.name}}</h3>
				<h4 class="text-center">
					{{student.ssn|slice:':6'}}-{{student.ssn|slice:'6:'}}
				</h4>
			</div>
			<div class="info col-xs-12">
				<p>
					{{school.name}}
				</p>
				<p>
					{{student.group}}
				</p>
				<p>
					Prófár: {{year}}
				</p>
			</div>
			<div class="table-container">
				<table class="table">
					<tbody>
						<tr class="thead">
							<td></td>
							<td>Vægi</td>
							<td>Raðeinkunn</td>
							<td>Samræmd einkunn</td>
						</tr>
						{% for result in results %}
							{% if result.le_se %}
								<tr class="thead-subject">
									<td>Íslenska</td>
									<td></td>
									<td>{{result.re}}</td>
									<td>{{result.se}}</td>
								</tr>
								<tr class="tbody">
									<td>Lestur</td>
									<td>(50%)</td>
									<td>{{result.le_re}}</td>
									<td>{{result.le_se}}</td>
								</tr>
								<tr class="tbody">
									<td>Málnotkun</td>
									<td>(30%)</td>
									<td>{{result.mn_re}}</td>
									<td>{{result.mn_se}}</td>
								</tr>
								<tr class="tbody">
									<td>Ritun</td>
									<td>(20%)</td>
									<td>{{result.ri_re}}</td>
									<td>{{result.ri_se}}</td>
								</tr>
								{% if group.student_year != "4" %}
								<tr class="tbody">
									<td>{{result.fm_fl}}</td>
									<td colspan="3">
										<small>{{result.fm_txt}}</small>
									</td>
								</tr>
								{% endif %}
							{% else %}
								<tr class="thead-subject">
									<td>Stærðfræði</td>
									<td></td>
									<td>{{result.re}}</td>
									<td>{{result.se}}</td>
								</tr>
								<tr class="tbody">
									<td>Reikningur og aðgerðir</td>
									<td>(60%)</td>
									<td>{{result.ra_re}}</td>
									<td>{{result.ra_se}}</td>
								</tr>
								<tr class="tbody">
									<td>Rúmfræði og mælingar</td>
									<td>(22,5%)</td>
									<td>{{result.rm_re}}</td>
									<td>{{result.rm_se}}</td>
								</tr>
								<tr class="tbody">
									<td>Tölur og talnaskilningur</td>
									<td>(17,5%)</td>
									<td>{{result.tt_re}}</td>
									<td>{{result.tt_se}}</td>
								</tr>
								<tr class="tbody">
									<td><strong>Orða- og talnadæmi</strong></td>
									<td colspan="3"><small>{{result.ord_talna_txt}}</small></td>
								</tr>
								{% if group.student_year != "4" %}
								<tr class="tbody">
									<td>{{result.fm_fl}}</td>
									<td colspan="3">
										<small>{{result.fm_txt}}</small>
									</td>
								</tr>
								{% endif %}
							{% endif %}
						{% endfor %}
						<!--tr class="thead-subject">
							<td>Enska</td>
							<td></td>
							<td>{{data.re}}</td>
							<td>{{data.se}}</td>
						</tr>
						<tr class="tbody">
							<td>Lesskilningur</td>
							<td>(60%)</td>
							<td>{{data.le_re}}</td>
							<td>{{data.le_se}}</td>
						</tr>
						<tr class="tbody">
							<td>Málnotkun og ritun</td>
							<td>(40%)</td>
							<td>{{data.mn_re}}</td>
							<td>{{data.mn_se}}</td>
						</tr-->
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<p class="footer text-center col-xs-12">Menntamálastofnun - Víkurhvarfi 3 - 203 Kópavogi</p>
</page>
<page size="A4">
<div class="col-xs-10 col-xs-offset-1 backside">
	<p>
		Grunnskólanemendur þreyta samræmd könnunarpróf þrisvar sinnum á meðan á skólagöngu stendur. Þessi próf eru frábrugðin öðru námsmati í grunnskóla að því leyti að allir nemendur á landinu þreyta sama prófið. Þau hafa einnig þá sérstöðu að spanna viðfangsefni tveggja til þriggja ára. Niðurstöðurnar gefa því annað sjónarhorn á stöðu nemenda en námsmat sem fram fer innan grunnskólans. Markmið þeirra er jafnframt frábrugðið hefðbundnu námsmati þar sem þeim er bæði ætlað að veita upplýsingar um nemendur og skólakerfið almennt. Samræmd könnunarpróf eru því mikilvæg viðbót við annað námsmat í grunnskóla.
	</p>
	{% if student.group.student_year == '10' %}
		<p>
			Samræmd könnunarpróf í 10. bekk meta stöðu nemenda í íslensku, stærðfræði og ensku samkvæmt ákvæðum aðalnámskrár grunnskóla fyrir unglingastig. Prófin miðast einkum við kunnáttu, leikni og hæfni sem almennt er unnið með í 8. og 9. bekk. Skil milli námsefnis 9. og 10. bekkjar eru þó óljós í aðalnámskrá þannig að í öllum prófum eru atriði sem staðsetja mætti beggja vegna. Samræmdum könnunarprófum er ætlað að reyna á nemendur á öllum getustigum og því er nauðsynlegt að hafa slík atriði með í prófum. Einkunnir á samræmdum könnunarprófum eru tvenns konar:
		</p>
		<p>
			<strong>Raðeinkunn</strong> er einkunn á bilinu 1 til 99 og sýnir stöðu nemandans miðað við árganginn í heild. Nemandi sem fær raðeinkunnina 60 stendur sig jafn vel eða betur en 60% nemenda á landinu öllu.
		</p>
		<p>
			<strong>Hæfnieinkunn</strong> er einkunn sem gefin er í bókstöfum, A, B+, B, C+, C og D og endurspeglar að hvaða marki nemendur hafa náð matsviðmiðum aðalnámskrár grunnskóla, sem er lýst hér að neðan.
		</p>
		<ul>
			<li><strong>A einkunn:</strong> Framúrskarandi hæfni og frammistaða í námi með hliðsjón af matsviðmiðum námsgreinar eða námssviðs.</li>
			<li><strong>B einkunn:</strong> Góð hæfni og frammistaða í námi með hliðsjón af matsviðmiðum námsgreinar eða námssviðs.</li>
			<li><strong>C einkunn:</strong> Sæmileg hæfni og frammistaða í námi með hliðsjón af matsviðmiðum námsgreinar eða námssviðs.</li>
			<li><strong>D einkunn:</strong> Hæfni og frammistöðu i námi ábótavant með hliðsjón af matsviðmiðum námsgreinar eða námssviðs.</li>
		</ul>
		<p>
			Ekki eru skilgreind sjálfstæð matsviðmið fyrir einkunnir C+ og B+. Nemendur sem fá einkunnina B+ og einkunnina C+ eru nálægt því að fá A eða B.
		</p>
		<p>
			Auk ofangreindra einkunna koma fram umsagnir um framfarir í íslensku og stærðfræði á milli 7. og 10. bekkjar hjá þeim nemendum sem þreyttu bæði prófin.
		</p>
		<p>
			Allir nemendur sem þreyta prófin fá hæfnieinkunn og raðeinkunn í hverri námsgrein ásamt raðeinkunn fyrir hvern námsþátt viðkomandi prófs. Með þessu móti fæst þver snið af kunnáttu nemenda í viðkomandi námsgreinum sem ætti að nýtast kennurum til að skoða styrk og veikleika nemenda í hverjum námsþætti fyrir sig. Meginþorri nemenda fær hæfnieinkunnirnar B og C. Frekari upplýsingar um matsviðmiðin og hæfnieinkunnir er að finna á slóðinni http://vefir.nams.is/namsmat/.
		</p>
	{% else %}
		{% if student.group.student_year == '7' %}
			<p>
				Samræmd könnunarpróf í 7. bekk meta stöðu nemenda í íslensku og stærðfræði samkvæmt ákvæðum aðalnámskrár grunnskóla fyrir miðstig. Prófin afmarkast einkum við markmið sem almennt er unnið með í 5. og 6. bekk. Skil milli námsmarkmiða 6. og 7. bekkjar eru þó óljós í aðalnámskrá þannig að í öllum prófum eru atriði sem staðsetja mætti beggja vegna. Samræmdum könnunarprófum er ætlað að reyna á nemendur á öllum getustigum og því er nauðsynlegt að hafa slík atriði með í prófunum.
			</p>
		{% else %}
			<p>
				Samræmd könnunarpróf í 4. bekk meta stöðu nemenda í íslensku og stærðfræði samkvæmt ákvæðum aðalnámskrár grunnskóla fyrir yngsta stig. Prófin afmarkast einkum við markmið sem almennt er unnið með í fyrstu bekkjum grunnskólans. Skil milli námsmarkmiða 3. og 4. bekkjar er þó óljós í aðalnámskrá þannig að í öllum prófum eru atriði sem staðsetja mætti beggja vegna. Samræmdum könnunarprófum er ætlað að reyna á nemendur á öllum getustigum og því er nauðsynlegt að hafa slík atriði með í prófunum.
			</p>
		{% endif %}
		<p>
			Einkunnir á samræmdum könnunarprófum eru tvenns konar:
		</p>
		<ul>
			<li>
				<strong>Samræmd einkunn</strong> er hefðbundin einkunn á bilinu 1 til 10.
			</li>
			<li>
				<strong>Raðeinkunn</strong> er einkunn á bilinu 1 til 99 og sýnir stöðu nemandans miðað við árganginn í heild. Nemandi sem fær raðeinkunnina 60 stendur sig jafnvel eða betur en 60% nemenda á landinu öllu.

			</li>
		</ul>
		{% if student.group.student_year == '7' %}
			<p>
				Að auki kemur fram umsögn um framfarir nemenda milli 4. og. 7. bekkjar.
			</p>
		{% endif %}
		<p>
			Allir nemendur sem þreyta prófin fá heildareinkunn í hverri námsgrein ásamt raðeinkunn fyrir hvern námsþátt í viðkomandi prófs. Með þessu móti fæst þversnið af kunnáttu nemenda í viðkomandi námsgreinum sem ætti að nýtast kennurum til að skoða styrk og veikleika nemenda í hverjum námsþætti fyrir sig.
		</p>
	{% endif %}
</div>
</page>
{% endfor %}
{% endblock %}