{% extends 'common/index.html'%}
{% include staticfiles%}
{% block content %}
	<h3>Samræmd próf</h3>
	<div>
		<div class="row">
			<div class="col-md-4"><h4>Próf</h4></div>
		</div>
		{% for link in links %}
		<div class="row">
			<div class="col-md-4"><a href="{% url 'samraemd:result_detail' school_id link.exam_date|date:'Y' link.student_year %}">Próf frá: {{link.exam_date|date:'Y'}} {{link.student_year}}. bekk</a></div>
		</div>
		{% endfor %}
		{% for link in rawlinks %}
		<div class="row">
			<div class="col-md-4"><a href="{% url 'samraemd:result_detail_raw' school_id link.exam_date|date:'Y' link.student_year %}">Próf frá: {{link.exam_date|date:'Y'}} {{link.student_year}}. bekk - <i>hrágögn</i></a></div>
		</div>
		{% endfor %}
	</div>
{% endblock %}