{% extends 'common/index.html'%}

{% block content %}
<div class="row not-on-einstaklingsblod">
	<div class="col-md-6">
		<h3>Niðurstöður nemenda</h3>
		<h4>{{exam_code}}</h4>
	</div>
	<div class="col-md-6 hidden-print">
		<a href="listi" class="btn btn-default" target="_blank">Prentvænn listi</a>
		<a href="einstaklingsblod" class="btn btn-default" target="_blank">Prentvæn einstaklingsblöð</a>
	</div>
</div>
<div>
	<div class="row">
		<table class="table table-striped table-bordered table-hover">
			<thead class="thead-default">
				<tr>
					<th></th>
					<th colspan="4">Samræmd einkunn</th>
					<th colspan="4">Raðeinkunn</th>
					<th colspan="4">Grunnskólaeinkunn</th>
					<th colspan="2">Framfaraeinkunn</th>
				</tr>
				<tr>
					<th>Nemandi</th>
					<th>Lestur</th>
					<th>Málnotkun</th>
					<th>Ritun</th>
					<th>Heild</th>
					<th>Lestur</th>
					<th>Málnotkun</th>
					<th>Ritun</th>
					<th>Heild</th>
					<th>Lestur</th>
					<th>Málnotkun</th>
					<th>Ritun</th>
					<th>Heild</th>
					<th>Framfaraflokkur</th>
					<th>Framfaratexti</th
				</tr>				
			</thead>
			<tbody>
			{% for result in exam_results %}
				<tr>
					<td>{{ result.student.ssn }}</td>
					<td>{{ result.le_se }}</td>
					<td>{{ result.mn_se }}</td>
					<td>{{ result.ri_se }}</td>
					<td>{{ result.se }}</td>
					<td>{{ result.le_re }}</td>
					<td>{{ result.mn_re }}</td>
					<td>{{ result.ri_re }}</td>
					<td>{{ result.re }}</td>
					<td>{{ result.le_sg }}</td>
					<td>{{ result.mn_sg }}</td>
					<td>{{ result.ri_sg }}</td>
					<td>{{ result.sg }}</td>
					<td>{{ result.fm_fl }}</td>
					<td>{{ result.fm_txt }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<script type="text/javascript">
	function printEinstaklingsblod() {
		$('.not-on-einstaklingsblod').addClass('hidden-print');
		$('.student-testcode').addClass('on-einstaklingsblod').prepend('<span class="removeme">Prófkóði: </span>');
		$('.student-kt').addClass('on-einstaklingsblod').prepend('<span class="removeme">Kennitala: </span>');
		$('.student-name').addClass('on-einstaklingsblod').prepend('<span class="removeme">Nafn: </span>');
		window.print();
		$('.removeme').remove();
		$('.on-einstaklingsblod').removeClass('on-einstaklingsblod');
		$('.not-on-einstaklingsblod').removeClass('hidden-print');
		$('.student-testcode').css('page-break-after','auto');
	}
</script>
{% endblock %}