{% extends 'common/index.html'%}
{% include staticfiles%}
{% block content %}

	<div class="row">
		<a href="{% url 'samraemd:result_create'%}" class="btn btn-default">
			<span class="glyphicon glyphicon-plus"></span>&nbsp;Bæta við niðurstöðum
		</a>
	</div>
	<div class="row">
		<h2>Samræmd próf í stærðfræði</h2>
		<table class="table table-hover table-striped">
			<thead>
				<tr>
					<th class="col-md-10">Kóði</th>
					<th class="col-md-2">Aðgerðir</th>
				</tr>
			</thead>
			<tbody>
				{% for exam in math_exams %}
				<tr>
					<td>
						<a href="{% url 'samraemd:math_admin_result_detail' exam.exam_date|date:'Y' exam.student_year %}">
							{{ exam.exam_code }}
						</a>
					</td>
					<td>
						<a href="{% url 'samraemd:math_delete' exam.exam_code %}">
							<span class="glyphicon glyphicon-trash"></span>
						</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<div class="row">
		<h2>Samræmd próf í íslensku</h2>
		<table class="table table-hover table-striped">
			<thead>
				<tr>
					<th class="col-md-10">Kóði</th>
					<th class="col-md-2">Aðgerðir</th>
				</tr>
			</thead>
			<tbody>
				{% for exam in isl_exams %}
				<tr>
					<td>
						<a href="{% url 'samraemd:isl_admin_result_detail' exam.exam_date|date:'Y' exam.student_year %}">
							{{ exam.exam_code }}
						</a>
					</td>
					<td>
						<a href="{% url 'samraemd:isl_delete' exam.exam_code %}">
							<span class="glyphicon glyphicon-trash"></span>
						</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<div class="row">
		<h2>Samræmd próf í ensku</h2>
		<table class="table table-hover table-striped">
			<thead>
				<tr>
					<th class="col-md-10">Kóði</th>
					<th class="col-md-2">Aðgerðir</th>
				</tr>
			</thead>
			<tbody>
				{% for exam in ens_exams %}
				<tr>
					<td>
						<a href="{% url 'samraemd:ens_admin_result_detail' exam.exam_date|date:'Y' exam.student_year %}">
							{{ exam.exam_code }}
						</a>
					</td>
					<td>
						<a href="{% url 'samraemd:ens_delete' exam.exam_code %}">
							<span class="glyphicon glyphicon-trash"></span>
						</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<!--
	<h3>Hrágögn</h3>
	<div class="row">
		<a href="{% url 'samraemd:rawdatacreate'%}" class="btn btn-default">
			<span class="glyphicon glyphicon-plus"></span>&nbsp;Bæta við niðurstöðum
		</a>
	</div>
	<div>
		<div class="row">
			<div class="col-md-4"><h4>Próf</h4></div>
			<div class="col-md-2"><h4>Aðgerðir</h4></div>
		</div>
		{% for exam in raw_exams %}
		<div class="row">
			<div class="col-md-4"><a href="{% url 'samraemd:admin_result_detail' exam.exam_code exam.exam_date|date:'Y' exam.student_year %}">{{exam.exam_name}}</a></div>
			<div class="col-md-2"><a href="{% url 'samraemd:raw_delete' exam.exam_code exam.exam_date|date:'Y' exam.student_year %}"><span class="glyphicon glyphicon-trash"></span></a></div>
		</div>
		{% endfor %}
	</div>-->
{% endblock %}