{% extends 'common/index.html'%}
{% include staticfiles%}
{% block content %}
	{% if 'stæ' in request.path %}
	<h3>Samræmd stærðfræðipróf</h3>
	{% elif 'isl' in request.path %}
	<h3>Samræmd íslenskupróf</h3>
	{% endif %}
	<div class="row">
		{% if 'stæ' in request.path %}
			<a href="{% url 'samraemd:math_create'%}" class="btn btn-default">
				<span class="glyphicon glyphicon-plus"></span>&nbsp;Bæta við niðurstöðum
			</a>
		{% elif 'isl' in request.path %}
			<a href="{% url 'samraemd:isl_create'%}" class="btn btn-default">
				<span class="glyphicon glyphicon-plus"></span>&nbsp;Bæta við niðurstöðum
			</a>
		{% endif %}	
	</div>
	<div>
		<div class="row">
			<div class="col-md-4"><h4>Próf</h4></div>
			<div class="col-md-2"><h4>Aðgerðir</h4></div>
		</div>
		{% for exam in exams %}
		<div class="row">
			{% if 'stæ' in request.path %}
			<div class="col-md-4"><a href="{% url 'samraemd:math_admin_result_detail' exam.exam_date|date:'Y' exam.student_year %}">{{exam.exam_code}}</a></div>
			<div class="col-md-2"><a href="{% url 'samraemd:math_delete' exam.exam_code %}"><span class="glyphicon glyphicon-trash"></span></a></div>
			{% elif 'isl' in request.path %}
			<div class="col-md-4"><a href="{% url 'samraemd:isl_admin_result_detail'  exam.exam_date|date:'Y' exam.student_year %}">{{exam.exam_code}}</a></div>
			<div class="col-md-2"><a href="{% url 'samraemd:isl_delete' exam.exam_code %}"><span class="glyphicon glyphicon-trash"></span></a></div>
			{% endif %}
			
		</div>
		{% endfor %}
	</div>
	<h3>Hrágögn</h3>
	<div class="row">
		<a href="{% url 'samraemd:rawdatacreate'%}" class="btn btn-default">
			<span class="glyphicon glyphicon-plus"></span>&nbsp;Bæta við niðurstöðum
		</a>
	</div>
	<div>
		<div class="row">
			<div class="col-md-4"><h4>Próf</h4></div>
			<div class="col-md-2"><h4>Aðgerðir</h4></div>
		</div>
		{% for exam in raw_exams %}
		<div class="row">
			<div class="col-md-4"><a href="{% url 'samraemd:admin_result_detail' exam.exam_code exam.exam_date|date:'Y' exam.student_year %}">{{exam.exam_name}}</a></div>
			<div class="col-md-2"><a href="{% url 'samraemd:raw_delete' exam.exam_code exam.exam_date|date:'Y' exam.student_year %}"><span class="glyphicon glyphicon-trash"></span></a></div>
		</div>
		{% endfor %}
	</div>
{% endblock %}