{% extends 'second_base.html'%}
{% load staticfiles %}
{% block stylesheet %}
	<link href="{% static 'samraemd/css/singles_raw_print.css' %}" rel="stylesheet">
	<meta name="name" content="content">
{% endblock %}
{% block content %}
	{% for value in loop_times %}

		{% for student, results in student_results.items %}
			<page size="A4">
				<div class="outer-border">
					<img src="{% static 'img/logo-3litur.png'%}" class="img-responsive mms-logo"/>
					<h1 class="text-center">Samræmd könnunarpróf</h1>
					<div class="row headinfo">
						<div class="info col-xs-6">
							<p>
								{{school.name}}
							</p>
							<p>{{ value.exam_name }}</p>
						</div>
						<div class="info col-xs-6">
							<p>
								{{student.ssn|slice:':6'}}-{{student.ssn|slice:'6:'}}
							</p>
							<p>
								{{student.name}}
							</p>
						</div>
					</div>
					<div class="table-container">
						<div class="row">
							<div class="col-xs-12">
								<table class="table">
									<thead>
										<tr>
											<th>Dæmi</th>
											<th>Svar*</th>
											<th>Flokkur</th>
											<th>Innihald</th>
											<th>Útskýring</th>
										</tr>
									</thead>
									<tbody>
										{% for result in results %}
											{% if result.exam_code == value.exam_code %}
												{% for key, values in result.result_data.items|dictsort:'0.lower' %}
													<tr>
														<td class="td1">{{values.id}}</td>
														<td class="td2">{{values.value}}</td>
														<td class="td3">{{values.category}}</td>
														<td class="td4">{{values.context}}</td>
														<td class="td5">
															{{values.description}}
															{% if values.img %}
																<img class="desc-img" src="{{values.img}}" />
															{% endif %}
														</td>
													</tr>
												{% endfor %}
											{% endif %}
										{% endfor %}
									</tbody>
									<tfoot>
										<tr>
											<td colspan="5"><small>*(0=rangt)</small></td>
										</tr>
										<tr>
											<td colspan="5">
												<p class="footer text-center col-xs-12">Menntamálastofnun - Víkurhvarfi 3 - 203 Kópavogi</p>
											</td>
										</tr>
									</tfoot>
								</table>
							</div>
						</div>
					</div>
				</div>
			</page>
		{% endfor %}
	{% endfor %}
{% endblock %}